.comments-title{
  margin-top: rfs-value(30px);
  margin-bottom: rfs-value(20px);
  font-size: rfs-value(24px);
  font-weight: rfs-value(400);
  padding-bottom: rfs-value(7px);
  border-bottom: 2px solid $color-black;
}