footer#colophon {
  margin-top: auto; // sticky bottom

  @include font-size(14px);
  font-weight: 500;

  .icon {
    margin-left: 4px;

    svg {
      width: auto;
      max-height: 16px;
    }
  }

  #nav-footer-menu {
    ul {
      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: $list-inline-padding;
        }

        a{
          color: $color-black;
          @include highlight-on-hover($height: 0.3rem, $bottom: 0.035rem);
        }
      }
    }
  }

}