footer#colophon {
  margin-top: auto; // sticky bottom

  @include font-size(14px);
  font-weight: 500;

  .icon {
    margin-left: rfs-value(4px);
    display: inline-block;
    width: rfs-value(20px);
    position: relative;
    top: rfs-value(-1px);

    svg {
      width: auto;
      max-height: rfs-value(16px);
    }
  }

  #nav-footer-menu {
    ul {
      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: $list-inline-padding;
        }

        a{
          color: $color-black;
          @include highlight-on-hover($height: 0.25rem, $bottom: 0.035rem);
        }
      }
    }
  }

}