.gform_wrapper{
  background-color: $color-light-gray;
  @include border-radius($border-radius-lg);
  border: 1px solid rgba($color-border-gray, 0.7);
  box-shadow: $box-shadow;
  padding: rfs-value(25px 25px 30px 25px);
  font-family: $font-secondary;
  @include media-breakpoint-up(md){
    padding: rfs-value(30px 40px 35px 40px);
  }
  &#gform_wrapper_1{
    margin-top: rfs-value(40px);
  }
  &.gravity-theme{
    // errors styling
    &.gform_validation_error{
      .gform_validation_errors{
        margin-top: 0;
        box-shadow: none;
        margin-bottom: rfs-value(15px);
        padding: rfs-value(20px);
        @include border-radius($border-radius);
        outline: none;
        border-width: rfs-value(1.3px);
        .gform_submission_error{
          @include font-size(16px);
          line-height: 1.3;
        }
        ol{
          margin-bottom: 0;
        }
      }
      .gform_body{
        .gform_fields{
          .gfield.gfield_error{
            input,textarea{ border-color: #c02b0a }
            .validation_message{ display: none }
          }
        }
      }
    }

    .gform_heading{
      text-align: center;
      .gform_description{
        //font-family: $font-primary;
        @include font-size(22px);
      }
    }

    .gform_body{
      .gform_fields{
        grid-row-gap: rfs-value(25px);
        .gfield{
          .gfield_label{
            font-weight: 500;
            margin-bottom: rfs-value(6px);
          }
          input,textarea{
            @include border-radius($border-radius-xl);
            border: 1px solid darken($color-border-gray, 10%);
            padding: rfs-value(10px 18px);
            -webkit-transition: border 200ms ease-out;
            transition: border 200ms ease-out;
            &:focus{
              box-shadow: none;
              outline-width: thin;
              outline-color: $color-primary;
              border-color: $color-primary;
            }
          }
          textarea{
            @include border-radius($border-radius-lg);
          }
        }
      }
    }
    .gform_footer{
      margin: 0 !important;
      padding: 0 !important;
      justify-content: center;
      position: relative;

      .gform_button{
        margin: 0;
        @include make-button-primary('lighten');
        @include media-breakpoint-down(md){
          @include border-radius($border-radius-xxl)

        }
      }
      img.gform_ajax_spinner {
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: rfs-value(-8px);
        margin-top: rfs-value(5px);
      }
    }
  }
}

.gform_confirmation_wrapper{
  background-color: $color-light-gray;
  @include border-radius($border-radius);
  border: 1px solid rgba($color-border-gray, 0.7);
  box-shadow: $box-shadow;
  padding: 30px 40px 30px 40px;
  font-family: $font-secondary;
  text-align: center;
  &#gform_confirmation_wrapper_1{
    margin-top: 40px;
    .gform_confirmation_message{
      p:last-child{ margin-bottom: 0;}
    }
  }
}