.entry-content{
  --wp--preset--spacing--20: 1rem;
  --wp--preset--spacing--30: 1.5rem;
  --wp--preset--spacing--40: 2rem;
  --wp--preset--spacing--50: 2.5rem;
  --wp--preset--spacing--60: 3rem;
  --wp--preset--spacing--70: 3.5rem;
  --wp--preset--spacing--80: 4rem;

  --wp--preset--spacing--x-small  : 1.25rem;  // 20px
  --wp--preset--spacing--small    : 1.875rem; // 30px
  --wp--preset--spacing--medium   : 2.5rem;   // 40px
  --wp--preset--spacing--large    : 3.75rem;  // 60px
  --wp--preset--spacing--x-large  : 5rem;     // 80px

  // Block Editor => Image
  .wp-block-image{
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    &.has-custom-border{
      img{
        border-style: solid;
      }
    }
    img{
      @include img-fluid()
    }
    .wp-element-caption{
      color: $color-gray;
      font-family: $font-secondary;
      @include font-size($h6-font-size);
      margin-top: rfs-value(5px);
    }
  }

  // Block Editor => Heading
  .has-small-font-size {
    @include font-size($h5-font-size);
  }
  .has-medium-font-size {
    @include font-size($h4-font-size);
  }
  .has-large-font-size {
    @include font-size($h3-font-size);
  }
  .has-x-large-font-size {
    @include font-size($h2-font-size);
  }
  .has-huge-font-size {
    @include font-size($h1-font-size);
  }
  .has-inter-font-family{
    font-family: $font-secondary !important;
  }
  .has-lora-font-family{
    font-family: $font-primary !important;
  }

  // Block Editor => Gallery
  .wp-block-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: rfs-value(16px);
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    &.columns-3{
      .wp-block-image{
        width: 100%;
        @include media-breakpoint-up(md){
          width: calc(50% - 16px/2);
        }
        @include media-breakpoint-up(xl){
          width: calc(33.33333% - 16px *.66667);
        }
      }
    }
    &.columns-2{
      .wp-block-image{
        width: 100%;
        @include media-breakpoint-up(md){
          width: calc(50% - 16px/2);
        }
      }
    }
    &.columns-1{

    }
    .wp-block-image{
      margin: 0;
      align-self: inherit;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      max-width: 100%;
      position: relative;
      img{
        flex: 1 0 0%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
      }
      figcaption.wp-element-caption{
        color: white;
        background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
        bottom: 0;
        box-sizing: border-box;
        font-size: rfs-value(13px);
        left: 0;
        margin-bottom: 0;
        max-height: 60%;
        overflow: auto;
        padding: rfs-value(0 8px 8px);
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
  }

  // Block Editor => Buttons
  .wp-block-buttons{
    display: flex;
    flex-wrap: wrap;
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    gap: 24px;
    &.is-content-justification-center{
      justify-content: center;
    }
    &.is-content-justification-left{
      justify-content: start;
    }
    &.is-content-justification-right{
      justify-content: end;
    }
    &.is-content-justification-space-between{
      justify-content: space-between;
    }
    &.is-vertical{
      flex-direction: column;
      row-gap: rfs-value(20px);

    }
    &.is-horizontal{
      flex-direction: row;
      .wp-block-button{
        &:not(:last-child){
          margin-right: rfs-value(20px);
        }
      }
    }

    .wp-block-button{

      .wp-block-button__link{
        @include make-button-primary('default');
        min-width: rfs-value(200px);
        text-align: center;
      }
    }
  }

  // Block Editor => Media and Text
  .wp-block-media-text{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
    row-gap: $paragraph-margin-bottom;
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    @include media-breakpoint-down(md){
      grid-template-columns: 100% !important;
    }
    &.is-vertically-aligned-center{
      .wp-block-media-text__media{
        align-self: center;
      }
      .wp-block-media-text__content{
        align-self: center;
      }
    }
    &.is-vertically-aligned-top{
      .wp-block-media-text__media{
        align-self: start;
      }
      .wp-block-media-text__content{
        align-self: start;
      }
    }
    &.is-vertically-aligned-bottom{
      .wp-block-media-text__media{
        align-self: end;
      }
      .wp-block-media-text__content{
        align-self: end;
      }
    }
    &.has-media-on-the-right{
      .wp-block-media-text__media{
        order: 1;
      }
      .wp-block-media-text__content{
        order: 2;
      }
      @include media-breakpoint-up(md){
        .wp-block-media-text__media{
          grid-column: 2;
          order: 2;
        }
        .wp-block-media-text__content{
          grid-column: 1;
          order: 1;
        }
      }
    }
    .wp-block-media-text__media{
      margin: 0;
      align-self: center;
      grid-row: auto;
      grid-column: 1;
      @include media-breakpoint-up(md){
        grid-row: 1;
        grid-column: 1;
      }
      img{ @include img-fluid() }
    }
    .wp-block-media-text__content{
      grid-row: auto;
      grid-column: 1;
      @include media-breakpoint-up(md){
        padding: rfs-value(0 30px);
        grid-row: 1;
        grid-column: 2;
      }
    }
  }

  // Block Editor => Embeds
  .wp-block-embed{
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    outline: none;
    .wp-element-caption{
      color: $color-gray;
      font-family: $font-secondary;
      @include font-size($h6-font-size);
      margin-top: rfs-value(5px);
    }
  }

  // Block Editor => Separator
  .wp-block-separator{
    opacity: 1;
    border-top-color: $color-border-gray;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    &.is-style-wide{ }
    &.is-style-default{
      width: 100%;
      max-width: rfs-value(250px);
    }
    &.is-style-dots{
      background: none;
      border: none;
      text-align: center;
      &:before{
        color: currentColor;
        content: "···";
        font-size: 1.5em;
        letter-spacing: 2em;
        padding-left: 2em;
      }
    }
    &.has-primary-background-color{
      color: $color-primary;
      border-top-color: $color-primary;
    }
    &.has-primary-dark-background-color{
      color: $color-primary-dark;
      border-top-color: $color-primary-dark;
    }
    &.has-black-background-color{
      color: $color-black;
      border-top-color: $color-black;
    }
    &.has-white-background-color{
      color: $color-white;
      border-top-color: $color-white;
    }
    &.has-gray-background-color{
      color: $color-gray;
      border-top-color: $color-gray;
    }
    &.has-light-gray-background-color{
      color: $color-light-gray;
      border-top-color: $color-light-gray;
    }
    &.has-border-gray-background-color{
      color: $color-border-gray;
      border-top-color: $color-border-gray;
    }
  }

  // Block Editor => Table
  .wp-block-table{
    font-family: $font-secondary;
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    overflow-x: auto;
    @include font-size($h4-font-size);
    table {
      border-collapse: collapse;
      width: 100%;
      caption-side: bottom;
      td, th {
        word-break: normal;
        border: 1px solid $color-gray;
        padding: 0.5em;
      }
    }
  }

  // Block Editor => Quote
  .wp-block-quote{
    @include font-size(30px);
    font-style: italic;
    @include margin(50px 0);
    border-left: 5px solid $color-border-gray;
    padding: 10px 0 5px 30px;
    line-height: 1.45;
    p{
      margin-bottom: 0;
    }
    cite{
      color: #7d7b7b;
      @include font-size(20px);
      font-style: normal;
      font-family: $font-secondary;
      &::before {
        content: "\2014\00A0"; // em dash, nbsp
      }
    }
  }
}