.entry-content{
  --wp--preset--spacing--20: 1rem;
  --wp--preset--spacing--30: 1.5rem;
  --wp--preset--spacing--40: 2rem;
  --wp--preset--spacing--50: 2.5rem;
  --wp--preset--spacing--60: 3rem;
  --wp--preset--spacing--70: 3.5rem;
  --wp--preset--spacing--80: 4rem;

  --wp--preset--spacing--x-small  : 1.25rem;  // 20px
  --wp--preset--spacing--small    : 1.875rem; // 30px
  --wp--preset--spacing--medium   : 2.5rem;   // 40px
  --wp--preset--spacing--large    : 3.75rem;  // 60px
  --wp--preset--spacing--x-large  : 5rem;     // 80px

  --wp--preset--color--primary      : #fdd11f;
  --wp--preset--color--primary-dark : #f0c000;
  --wp--preset--color--secondary    : #3ba7fa;
  --wp--preset--color--white        : #ffffff;
  --wp--preset--color--black        : #292929;
  --wp--preset--color--gray         : #595959;
  --wp--preset--color--light-gray   : #f7f8f9;
  --wp--preset--color--border-gray  : #eaecee;
  --wp--preset--color--success      : #10AA65;
  --wp--preset--color--danger       : #EB5757;

  --wp--preset--font-family--inter  : "Inter", sans-serif;
  --wp--preset--font-family--lora   : "Lora", serif;

  // Initial Colors
  .has-black-color{
    color: var(--wp--preset--color--black);
  }
  .has-white-color{
    color: var(--wp--preset--color--white);
  }
  .has-primary-color{
    color: var(--wp--preset--color--primary);
  }
  .has-secondary-color{
    color: var(--wp--preset--color--secondary);
  }
  .has-success-color{
    color: var(--wp--preset--color--success);
  }
  .has-danger-color{
    color: var(--wp--preset--color--danger);
  }
  .has-gray-color{
    color: var(--wp--preset--color--gray);
  }
  .has-light-gray-color{
    color: var(--wp--preset--color--light-gray);
  }

  // Background Colors
  .has-black-background-color{
    background-color: var(--wp--preset--color--black);
  }
  .has-white-background-color{
    background-color: var(--wp--preset--color--white);
  }
  .has-primary-background-color{
    background-color: var(--wp--preset--color--primary);
  }
  .has-secondary-background-color{
    background-color: var(--wp--preset--color--secondary);
  }
  .has-success-background-color{
    background-color: var(--wp--preset--color--success);
  }
  .has-danger-background-color{
    background-color: var(--wp--preset--color--danger);
  }
  .has-gray-background-color{
    background-color: var(--wp--preset--color--gray);
  }
  .has-light-gray-background-color{
    background-color: var(--wp--preset--color--light-gray);
  }

  // Border Color
  .has-primary-border-color {
    border-color: var(--wp--preset--color--primary);
  }
  .has-primary-dark-border-color {
    border-color: var(--wp--preset--color--primary-dark);
  }
  .has-secondary-border-color {
    border-color: var(--wp--preset--color--secondary);
  }
  .has-white-border-color {
    border-color: var(--wp--preset--color--white);
  }
  .has-black-border-color {
    border-color: var(--wp--preset--color--black);
  }
  .has-gray-border-color {
    border-color: var(--wp--preset--color--gray);
  }
  .has-light-gray-border-color {
    border-color: var(--wp--preset--color--light-gray);
  }
  .has-border-gray-border-color {
    border-color: var(--wp--preset--color--border-gray);
  }

  // Font Family
  .has-inter-font-family{
    font-family: var(--wp--preset--font-family--inter);
  }
  .has-lora-font-family{
    font-family: var(--wp--preset--font-family--lora);
  }

  // Align
  .has-text-align-left{
    text-align: left;
  }
  .has-text-align-center{
    text-align: center;
  }
  .has-text-align-right{
    text-align: right;
  }

  // Block Editor Font Sizes
  .has-small-font-size {
    @include font-size($h5-font-size !important);
  }
  .has-medium-font-size {
    @include font-size(22px !important);
  }
  .has-large-font-size {
    @include font-size($h3-font-size !important);
  }
  .has-x-large-font-size {
    @include font-size($h2-font-size !important);
  }
  .has-huge-font-size {
    @include font-size($h1-font-size !important);
  }
  .has-inter-font-family{
    font-family: $font-secondary !important;
  }
  .has-lora-font-family{
    font-family: $font-primary !important;
  }

  // Block Editor => List (ul)
  .wp-block-list{
    & > li > strong,
    & > li > a > strong{
      font-family: $font-secondary;
      font-weight: 600;
    }
  }

  ul.wp-block-list{
    @include custom-list-styling($color: #ffcc00);
    &.pros{
      li:before{
        color: $color-success;
      }
    }
    &.cons{
      li:before{
        color: $color-danger;
      }
    }
    &.check{
      padding-left: rfs-value(22px);
      li{
        &:before{
          content: "";
          color: transparent;
          background-image: escape-svg($bs-check-icon);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: rfs-value(25px);
          width: rfs-value(16px);
          height: rfs-value(16px);
          padding: 0;
          margin-top: rfs-value(-1px);
          margin-left: rfs-value(-23px);
          margin-right: rfs-value(7px);
        }
      }
    }
  }

  ol.wp-block-list{
    list-style: none;
    counter-reset: ol-li-counter;
    padding-left: rfs-value(43px);
    margin: rfs-value(16px 0 30px 0);
    li{
      margin-bottom: rfs-value(22px);
      position: relative;
      counter-increment: ol-li-counter;
      &:before {
        content: counter(ol-li-counter);
        background-color: $color-light-gray;
        border: 1px solid $color-border-gray;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        font-size: 15px;
        line-height: 28px;
        color: $color-black;
        font-family: $font-secondary;
        font-weight: 600;
        text-align: center;
        position: absolute;
        top: auto;
        margin-right: 9px;
        margin-left: -43px;
        margin-top: 1px;
      }
      &:last-child { margin-bottom: 0; }
    }
  }

  // Block Editor => Image
  .wp-block-image{
    //margin: $paragraph-margin-bottom 0;
    margin: rfs-value(24px 0 30px 0);

    :where([style*=border-width]) {
      border-style: solid;
    }
    &.aligncenter{
      text-align: center;
    }
    &.alignright{
      @include media-breakpoint-up(lg){
        float: right;
        margin-inline-start: 2em;
        margin-inline-end: 0;
      }
    }
    &.alignleft{
      @include media-breakpoint-up(lg){
        float: left;
        margin-inline-start: 0;
        margin-inline-end: 2em;
      }
    }
    &.is-style-rounded{
      img{
        border-radius: $border-radius;
      }
    }
    img{
      @include img-fluid()
    }
    .wp-element-caption{
      color: $color-gray;
      font-family: $font-secondary;
      @include font-size($h6-font-size);
      margin-top: rfs-value(5px);
    }
  }

  // Block Editor => Heading
  .wp-block-heading{
    @include media-breakpoint-down(sm){
      br{ display: none }
    }
  }

  // Block Editor => Gallery
  .wp-block-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: rfs-value(16px);
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    &.columns-3{
      .wp-block-image{
        width: 100%;
        @include media-breakpoint-up(md){
          width: calc(50% - 16px/2);
        }
        @include media-breakpoint-up(xl){
          width: calc(33.33333% - 16px *.66667);
        }
      }
    }
    &.columns-2{
      .wp-block-image{
        width: 100%;
        @include media-breakpoint-up(md){
          width: calc(50% - 16px/2);
        }
      }
    }
    .wp-block-image{
      margin: 0;
      align-self: inherit;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      max-width: 100%;
      position: relative;
      img{
        flex: 1 0 0%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
      }
      figcaption.wp-element-caption{
        color: white;
        background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
        bottom: 0;
        box-sizing: border-box;
        font-size: rfs-value(13px);
        left: 0;
        margin-bottom: 0;
        max-height: 60%;
        overflow: auto;
        padding: rfs-value(0 8px 8px);
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
  }

  // Block Editor => Buttons
  .wp-block-buttons{
    display: flex;
    flex-wrap: wrap;
    margin: rfs-value(32px 0);
    gap: rfs-value(24px);
    &.is-content-justification-center{
      justify-content: center;
    }
    &.is-content-justification-left{
      justify-content: start;
    }
    &.is-content-justification-right{
      justify-content: end;
    }
    &.is-content-justification-space-between{
      justify-content: space-between;
    }
    &.is-vertical{
      flex-direction: column;
      row-gap: rfs-value(20px);

    }
    &.is-horizontal{
      flex-direction: row;
      .wp-block-button{
        &:not(:last-child){
          margin-right: rfs-value(20px);
        }
      }
    }

    .wp-block-button{

      .wp-block-button__link{
        @include make-button-primary('default');
        min-width: rfs-value(200px);
        text-align: center;
      }
    }
  }

  // Block Editor => Media and Text
  .wp-block-media-text{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
    row-gap: $paragraph-margin-bottom;
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    @include media-breakpoint-down(md){
      grid-template-columns: 100% !important;
    }
    &.is-vertically-aligned-center{
      .wp-block-media-text__media{
        align-self: center;
      }
      .wp-block-media-text__content{
        align-self: center;
      }
    }
    &.is-vertically-aligned-top{
      .wp-block-media-text__media{
        align-self: start;
      }
      .wp-block-media-text__content{
        align-self: start;
      }
    }
    &.is-vertically-aligned-bottom{
      .wp-block-media-text__media{
        align-self: end;
      }
      .wp-block-media-text__content{
        align-self: end;
      }
    }
    &.has-media-on-the-right{
      .wp-block-media-text__media{
        order: 1;
      }
      .wp-block-media-text__content{
        order: 2;
      }
      @include media-breakpoint-up(md){
        .wp-block-media-text__media{
          grid-column: 2;
          order: 2;
        }
        .wp-block-media-text__content{
          grid-column: 1;
          order: 1;
        }
      }
    }
    .wp-block-media-text__media{
      margin: 0;
      align-self: center;
      grid-row: auto;
      grid-column: 1;
      @include media-breakpoint-up(md){
        grid-row: 1;
        grid-column: 1;
      }
      img{ @include img-fluid() }
    }
    .wp-block-media-text__content{
      grid-row: auto;
      grid-column: 1;
      @include media-breakpoint-up(md){
        padding: rfs-value(0 30px);
        grid-row: 1;
        grid-column: 2;
      }
    }
  }

  // Block Editor => Embeds
  .wp-block-embed{
    margin: $paragraph-margin-bottom 0 $paragraph-margin-bottom;
    outline: none;
    .wp-element-caption{
      color: $color-gray;
      font-family: $font-secondary;
      @include font-size($h6-font-size);
      margin-top: rfs-value(5px);
    }
  }

  // Block Editor => Separator
  .wp-block-separator{
    &:not(.is-style-wide):not(.is-style-dots){
      width: auto;
      max-width: rfs-value(150px);
      margin-left: auto;
      margin-right: auto;
    }
    &.is-style-wide{
      width: 100%;
      max-width: 100%;
    }
    &.is-style-default{
      width: auto;
      max-width: rfs-value(150px);
      margin-left: auto;
      margin-right: auto;
    }
    &.is-style-dots{
      background: none;
      border: none;
      text-align: center;
      margin: 2.7rem 0;
      &:before{
        color: $color-secondary;
        content: "···";
        font-size: 1.5em;
        letter-spacing: 2em;
        padding-left: 2em;
      }
    }
    &.has-primary-background-color{
      color: $color-primary;
      border-top-color: $color-primary;
    }
    &.has-primary-dark-background-color{
      color: $color-primary-dark;
      border-top-color: $color-primary-dark;
    }
    &.has-black-background-color{
      color: $color-black;
      border-top-color: $color-black;
    }
    &.has-white-background-color{
      color: $color-white;
      border-top-color: $color-white;
    }
    &.has-gray-background-color{
      color: $color-gray;
      border-top-color: $color-gray;
    }
    &.has-light-gray-background-color{
      color: $color-light-gray;
      border-top-color: $color-light-gray;
    }
    &.has-border-gray-background-color{
      color: $color-border-gray;
      border-top-color: $color-border-gray;
    }
  }

  // Block Editor => Table
  .wp-block-table{
    font-family: $font-secondary;
    margin: rfs-value(20px 0 30px 0);
    overflow-x: auto;

    @include media-breakpoint-down(sm){
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    table{
      color: $table-color;
      vertical-align: $table-cell-vertical-align;
      border-color: $table-border-color;
      width: 100%;
      min-width: 400px;
      @include font-size(16px);
      @include media-breakpoint-down(md){
        @include font-size(15px);
      }
      @include media-breakpoint-down(sm){
        @include font-size(14px);
        min-width: 380px;
      }
      &.has-fixed-layout{
        table-layout: fixed;
      }
      & > :not(caption) > * > * {
        padding: $table-cell-padding-y $table-cell-padding-x;
        background-color: $table-bg;
        border-bottom-width: $table-border-width;
        box-shadow: inset 0 0 0 9999px $table-accent-bg;
      }
      // .table-bordered
      & > :not(caption) > * {
        border-width: $table-border-width 0;
        & > * {
          border-width: 0 $table-border-width;
        }
      }
      // end of .table-bordered
      & > thead {
        vertical-align: inherit;
        background-color: $color-light-gray;
      }
      & > tbody { vertical-align: inherit; }
      & > tfoot{
        background-color: $color-light-gray;
      }
      td strong{ font-weight: 600; }
    }
  }

  // Block Editor => Quote
  .wp-block-quote{
    @include font-size($h3-font-size);
    border-left: rfs-value(5px solid $color-primary);
    padding: rfs-value(0 0 0 25px);
    margin: rfs-value(20px 0 30px 0);
    @include media-breakpoint-down(sm){
      @include font-size(20px !important);
    }
    p{
      @include margin(0 0 22px 0);
      &:last-child, &:last-of-type{ margin-bottom: 0; }
      strong{ font-family: $font-secondary; }
    }
    cite{
      color: #7d7b7b;
      @include font-size(20px);
      font-style: normal;
      font-family: $font-secondary;
      &::before {
        content: "\2014\00A0"; // em dash, nbsp
      }
    }
  }

  // Block Editor => FAQs
  .wp-block-acf-accordion{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    .accordion-item {
      border-top: rfs-value(var(--bs-accordion-border-width) solid var(--bs-accordion-border-color));

      &:not(:last-child) {
        margin-bottom: rfs-value(20px);
      }
      .accordion-button {
        border-color: transparent;
        box-shadow: none;
        cursor: pointer;
        @include font-size(20px);
        @include media-breakpoint-up(sm){
          @include font-size(21px);
        }
        &[aria-expanded="false"]:hover{
          background-color: $color-primary-light;
        }
      }
      .accordion-body{
        .entry-content{
          @include font-size(16px);
          @include media-breakpoint-up(md){
            @include font-size(17px);
          }
        }
      }
    }
  }


  // Block Editor => TOP Products
  // ===================================================================================================================
  .wp-block-acf-top-products-list{
    margin-top: 2rem;
    margin-bottom: 2rem;
    .top-picks {
      &:not(:last-child) {
        &:after {
          content: '';
          display: block;
          width: 100%;
          border-bottom: rfs-value(1px solid $color-border-gray);
          margin-bottom: rfs-value(20px);
          padding-bottom: rfs-value(20px);
        }
      }

      &.best {
        .column-preview {
          border-color: $color-primary-dark;
          border-width: rfs-value(2px);
          &:after {
            content: "";
            background-image: url("../../images/certificate.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: rfs-value(-15px);
            left: 50%;
            margin-left: rfs-value(-20px);
            z-index: 2;
            width: rfs-value(40px);
            height: rfs-value(40px);
          }
        }
      }

      .column-preview {
        border: rfs-value(1px solid $color-border-gray);
        @include media-breakpoint-down(sm){
          max-width: rfs-value(200px);
          margin-left: auto;
          margin-right: auto;
          .product-logo{
            max-height: rfs-value(100px);
          }
        }
      }

      .column-description {
        @include media-breakpoint-up(sm){
          padding-right: rfs-value(170px);
        }
        @include media-breakpoint-up(md){
          padding-right: rfs-value(185px);
        }
      }

      .top-picks-heading {
        .top{
          .subtitle {
            @include custom-letter-spacing();
            margin-bottom: rfs-value(5px);
          }
          .title {
            line-height: 1.4;
            margin-bottom: rfs-value(2px);
          }
          .description{
            line-height: 1.6;
            @include font-size(15px);
            @include media-breakpoint-only(sm){
              @include font-size(13px);
            }
            @include media-breakpoint-up(md){
              @include font-size(14px);
            }
          }
        }

        .middle{
          @include media-breakpoint-up(sm){
            position: absolute;
            width: 100%;
            max-width: rfs-value(160px);
            right: 0;
            left: auto;
            top: 0;
            bottom: 0;
          }
          @include media-breakpoint-up(md){
            max-width: rfs-value(170px);
          }
          .btn{
            letter-spacing: 0;
            @include font-size(15px);
            padding: rfs-value(10px 20px);
            min-width: rfs-value(200px);
            @include media-breakpoint-only(sm){
              @include font-size(14px);
            }
            @include media-breakpoint-up(sm){
              padding: rfs-value(10px 10px);
              width: 100%;
              min-width: 100%;
            }
          }
        }

        .bottom{
          .more {
            @include font-size(15px);
            color: $color-black;
            @include text-decoration-underline();

            i {
              margin-right: rfs-value(2px);
              background-image: escape-svg($bs-chevron-double-down-icon);
              width: rfs-value(14px);
              height: rfs-value(14px);
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              margin-top: rfs-value(-2px);
            }
          }
        }

      }
    }
  }


  // Block Editor => Pros & Cons
  // ===================================================================================================================
  .wp-block-pros-and-cons{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    .column {
      &:not(:last-child){
        margin-bottom: 2.5rem;
      }
      .heading {
        @include font-size(22px);
        padding: rfs-value(14px 26px);
        @include border-top-radius(9px);
      }

      .entry-content{
        @include font-size(18px);
        font-weight: 400;
        padding: rfs-value(27px 25px);
        //line-height: 1.6;
        &.pros-content{
          ul li:before{ background-image: escape-svg($bs-check-icon); }
        }
        &.cons-content{
          ul li:before{ background-image: escape-svg($bs-close-icon); }
        }
        ul{
          padding-left: 0;
          list-style: none;
          &:last-child{
            margin-bottom: 0;
          }
          li{
            margin: rfs-value(0 0 15px 0);
            padding-left: rfs-value(27px);
            line-height: inherit;
            &:last-child{
              margin-bottom: 0;
            }
            &:before{
              content: "";
              background-position: center;
              background-repeat: no-repeat;
              background-size: rfs-value(25px);
              width: rfs-value(18px);
              height: rfs-value(20px);
              padding: 0;
              display: inline-block;
              margin-right: $breadcrumb-item-padding-x;
              vertical-align: text-bottom;
              margin-left: rfs-value(-26px);
            }
          }
        }
      }

    }
  }


  // Block Editor => Product Card
  // ===================================================================================================================
  .wp-block-acf-product-card-item{
    margin-top: 4rem;
    margin-bottom: 0;
    .product-heading {

      .title {
        .number{
          background-color: $color-primary;
          padding-left: rfs-value(10px);
          padding-right: rfs-value(7px);
          margin-right: rfs-value(5px);
          font-style: normal;
          display: inline-block;
        }
        a {
          transition: color 300ms ease;
          @include text-decoration-underline($color-primary, 4px);
          &:hover {
            .number{
              text-decoration: none;
              text-decoration-color: $color-primary;
              text-decoration-thickness: 0;
            }
          }
        }
      }
    }

    .post-thumbnail {
      border: rfs-value(1px solid $color-border-gray);
      & + .figure-caption{
        margin-top: -1rem;
        margin-bottom: 1.5rem;
      }

      &.best {
        position: relative;
        border-width: rfs-value(5px);
        border-color: $color-primary-dark;

        &:after {
          content: "";
          background-image: url("../../images/certificate.svg");
          background-size: rfs-value(40px 40px);
          position: absolute;
          top: rfs-value(13px);
          right: rfs-value(8px);
          width: rfs-value(40px);
          height: rfs-value(40px);
          z-index: 2;
        }
        .figure-img{
          border-radius: rfs-value(10px !important);
        }
      }

    }
  }

}