/**
 * Breadcrumbs
 */
#nav-yoast-breadcrumb{
  @include font-size(13px);
  line-height: 1.4;
  ol.breadcrumb{
    li{
      &.breadcrumb-item{

        & + .breadcrumb-item::before{
          content: "";
          background-image: escape-svg($bs-chevron-right-icon);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 12px;
          width: 10px;
          height: 20px;
          padding: 0;
          display: inline-block;
          margin-right: $breadcrumb-item-padding-x;
        }

        &.breadcrumb-separator{

        }
      }
      &:not(:last-child){
        a{
          color: $color-black;
          &:hover{
            color: $color-primary-light;
          }
        }
      }
    }
  }
}

/**
 * Progress Bar
 */
#progress-bar-container{
  position: sticky;
  top: 0;
  z-index: 10;
  #progress-bar {
    --scrollAmount: 0%;

    background-image: linear-gradient(120deg, $color-primary 0%, $color-primary 100%);
    width: var(--scrollAmount);

    height: 3px;
  }
}

/**
 * HEADER
 */
header#masthead{
  box-shadow: 0 4px 3px -3px rgba(0,0,0,.08);
  border-bottom: 1px solid #e7e7e7;
  top: 3px;
  padding-bottom: 3px;
  @include media-breakpoint-down(lg){
    padding: 9px 0 12px 0;
  }
  // Logo
  .custom-logo-link{

    &:hover{
      svg{
        path.name-bg{ fill: $color-black; }
        path.name-letter{ fill: $color-white }
      }
    }
    svg{
      width: 230px;
      height: 44.36px;
      display: inline-table;
      path{
        @include transition();
        &.name-bg{ fill: $color-primary; }
        &.name-letter{ fill: $color-black }
      }
    }
  }

  // Nav
  .navbar{
    font-family: $font-secondary;
    //text-transform: uppercase;
    @include custom-letter-spacing(0.01rem);
    .nav-item{
      margin: rfs-value(0 22px);
      &.active{
        .nav-link{
          &:after{
            background-color: $color-primary;
          }
        }
      }
      .nav-link{
        position: relative;
        &:hover{
          &:after{
            background-color: $color-primary;
          }
        }
        &:after{
          content: "";
          width: 100%;
          height: 3px;
          background-color: transparent;
          position: absolute;
          bottom: -4px;
          left: 0;
          right: 0;
          z-index: 10;
          -webkit-transition: background-color 300ms ease;
          transition: background-color 300ms ease;
        }
      }
    }

    .navbar-toggler {
      border: none;
      background-color: $color-primary;
      &:hover{
        background-color: $color-black;
        @include transition();
        .navbar-toggler-icon {
          @include transition();
          background-image: escape-svg($navbar-light-toggler-icon-bg-hover);
        }
      }
    }
  }

  #search-subscribe-area{
    li{
      vertical-align: middle;
      line-height: 28px;
      &:not(:last-child){
        margin-right: 20px;
      }
      &.mail{
        a{
          svg{
            width: 25px;
            height: 25px;
          }
        }
      }
      a{
        color: $color-black;
        width: 25px;
        height: 30px;
        overflow: hidden;
        display: block;
        position: relative;
        transition: opacity 300ms ease;
        &:hover{
          .hover{ opacity: 1; z-index: 1; visibility: visible }
          .normal{ opacity: 0; z-index: -1; visibility: hidden  }
        }
        .normal, .hover{
          position: absolute;
          transition: opacity 300ms ease, visibility 300ms ease;
        }
        .hover{ opacity: 0; z-index: -1; visibility: hidden }
        svg{
          width: 20px;
          height: 20px;
          display: inline-block;
        }
      }
    }
  }

}

#navbarOffCanvas{
  .offcanvas-header{
    box-shadow: 0 4px 3px -3px rgba(0,0,0,.08);
    border-bottom: 1px solid #e7e7e7;
    .offcanvas-title{
      @include font-size(24px);
      letter-spacing: 0.2rem;
      @include bottom-highlight($height: 30%);
    }
    .btn-close{

    }
  }
  #navbar-offcanvas-nav{
    font-weight: 600;
    @include font-size(22px);
    @include custom-letter-spacing(0.1rem);
    ul{
      li{
        &:not(:last-child){
          margin-bottom: 20px;
        }
        a{
          color: $color-black;
          @include highlight-on-hover($height: 23%, $bottom: 1px);
          &:after{
            width: 100%; opacity: 0;
          }
          &:hover{
            &:after{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}