/**
 * Archive Sidebar + Single Sidebar + Page Sidebar
 */
#right-sidebar {
  @include media-breakpoint-down(lg){
    flex-grow: 1;
  }
  @include media-breakpoint-up(lg){
    padding-left: 2rem;
  }
  .sticky-top{
    top: 105px;
    z-index: 1;
  }

}

#media_image-2, #media_image-3{
  img.image{
    border: 7px solid white;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.widget {
  padding: rfs-value(20px 22px);
  @include media-breakpoint-up(sm){
    padding: rfs-value(30px 32px);
  }
  @include media-breakpoint-only(lg){
    padding: rfs-value(18px 20px 14px 20px);
  }
  @include media-breakpoint-only(xl){
    padding: rfs-value(22px 23px);
  }
  @include media-breakpoint-up(xxl){
    padding: rfs-value(30px 32px);
  }
  &:not(:last-child){
    margin-bottom: 2rem;
  }

  .w-title{
    @include font-size(30px);
    @include media-breakpoint-only(lg){
      @include font-size(25px);
    }
    @include media-breakpoint-only(xl){
      @include font-size(30px);
    }
    @include media-breakpoint-up(xxl){
      @include font-size(36px);
    }
    @include bottom-highlight();
  }

  // Gravity Forms
  .gform_confirmation_wrapper{
    background-color: $color-white;
    padding: rfs-value(40px 20px 40px 20px);
    @include border-radius($border-radius-lg);
    .gform_confirmation_message{
      h2{
        @include font-size(28px);
      }
      @include font-size(17px);
      line-height: 1.6;
    }
  }

  .gform_wrapper{
    padding: rfs-value(5px 0 15px 0);
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    .gform_heading{
      .gform_description{
        font-weight: 700;
        line-height: 1.4;
        @include media-breakpoint-only(lg){
          @include font-size(17px);
        }
        @include media-breakpoint-only(xl){
          @include font-size(20px);
        }
      }
    }
    .gform_body{
      .gform_fields{
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: rfs-value(15px);
        .gfield{
          flex: 1 1 100%;
          &.gfield--type-email{
            input{
              min-height: 52px;
              text-align: center;
            }
          }
          &.gfield--type-submit{
            input[type="submit"]{
              @include make-button-primary('default');
              width: 100%;
            }
          }
        }
      }
    }
  }

  // SendInBlue Subscribe Form
  &.widget_sib_subscribe_form {
    padding: rfs-value(30px);
    background-color: $color-light-gray;

    .sib-email-area {
      input#sib-email-area {
        background-image: escape-svg($bs-envelope-heart-icon);
        background-position: 22px center;
        background-repeat: no-repeat;
        background-size: rfs-value(20px);
        padding-left: rfs-value(53px);

        &:focus {
          background-image: escape-svg($bs-envelope-heart-icon-active);
        }
      }
    }
  }

  // TOC
  #ez-toc-container{
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
    .ez-toc-title{
      font-weight: 800;
      margin-bottom: rfs-value(15px);
      display: inline-block !important;
      @include bottom-highlight();

      @include font-size(30px);
      @include media-breakpoint-only(lg){
        @include font-size(25px);
      }
      @include media-breakpoint-only(xl){
        @include font-size(30px);
      }
      @include media-breakpoint-up(xxl){
        @include font-size(36px);
      }

    }
    .ez-toc-list{

      // General
      .ez-toc-link{
        text-decoration: none;
        font-weight: 500;
        //@include highlight-on-hover($offset: 23px, $height: 6px, $bottom: 3px);

        &:before{
          width: rfs-value(16px);
          margin-right: rfs-value(3px);
        }
      }

      // 1st level
      .ez-toc-heading-level-2{
        &:not(:last-child){
          margin-bottom: rfs-value(4px);
        }
        .ez-toc-link{
          @include font-size(16px);
          @include media-breakpoint-only(xl){
            @include font-size(17px);
          }
          @include media-breakpoint-up(xxl){
            @include font-size(18px);
          }
          color: #636363;
          &:hover{
            color: #000;
            text-decoration: underline;
          }
        }
      }

      // 2nd Level
      .ez-toc-list-level-3{
        margin-left: rfs-value(20px);
        list-style: none;
        li{
          line-height: 1.4;
          .ez-toc-link{
            @include font-size(15px);
            @include media-breakpoint-between(lg,xl){
              @include font-size(14px);
            }
            @include media-breakpoint-only(xl){
              @include font-size(15px);
            }
            @include media-breakpoint-up(xxl){
              @include font-size(16px);
            }
            color: #636363;
            font-weight: 500;
            &::before {
              content: counter(item, decimal-leading-zero) ". ";
              width: rfs-value(21px);
              @include font-size(13px);
              display: inline-block;
              margin-top: 2px;
              @include media-breakpoint-between(lg,xl){
                @include font-size(12.5px);
                margin-top: rfs-value(1.8px);
                width: rfs-value(19px);
              }
              @include media-breakpoint-only(xl){
                @include font-size(13px);
                width: rfs-value(19px);
              }
              @include media-breakpoint-up(xxl){
                @include font-size(14px);
              }
            }
            &:hover{ 
              color: #000;
              text-decoration: underline;
            }
          }
        }
      }


    }
  }

}