/**
 * Archive Sidebar + Single Sidebar + Page Sidebar
 */
#right-sidebar {
  @include media-breakpoint-down(lg){
    flex-grow: 1;
  }
  @include media-breakpoint-up(lg){
    padding-left: 1rem;
  }
  .sticky-top{
    top: rfs-value(107px);
    z-index: 1;
  }

}

#media-image, #media-image-mobile{

  img.image{
    border: 0.438rem solid white;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

$toc_black: #111;
.widget {
  box-shadow: $box-shadow-xl;
  padding: rfs-value(20px 22px);
  @include media-breakpoint-up(sm){
    padding: rfs-value(30px 32px);
  }
  @include media-breakpoint-only(lg){
    @include padding(24px 20px 26px 20px);
  }
  @include media-breakpoint-only(xl){
    @include padding(26px 22px 28px 22px);
  }
  @include media-breakpoint-up(xxl){
    @include padding(30px 28px 34px 28px)
  }
  &:not(:last-child){
    margin-bottom: rfs-value(32px);
  }

  .w-title{
    color: $color-black;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: rfs-value(15px);
    display: inline-block;
    @include font-size(36px);
    @include media-breakpoint-only(lg){
      @include font-size(25px);
    }
    @include media-breakpoint-only(xl){
      @include font-size(30px);
    }
  }

  // Gravity Forms
  .gform_confirmation_wrapper{
    background-color: $color-white;
    padding: rfs-value(40px 20px 40px 20px);
    @include border-radius($border-radius-lg);
    .gform_confirmation_message{
      h2{
        @include font-size(28px);
      }
      @include font-size(17px);
      line-height: 1.6;
    }
  }

  .gform_wrapper{
    padding: rfs-value(5px 0 15px 0);
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    .gform_heading{
      .gform_description{
        font-weight: 700;
        line-height: 1.4;
        @include media-breakpoint-only(lg){
          @include font-size(17px);
        }
        @include media-breakpoint-only(xl){
          @include font-size(20px);
        }
      }
    }
    .gform_body{
      .gform_fields{
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: rfs-value(15px);
        .gfield{
          flex: 1 1 100%;
          &.gfield--type-email{
            input{
              min-height: rfs-value(52px);
              text-align: center;
            }
          }
          &.gfield--type-submit{
            input[type="submit"]{
              @include make-button-primary('default');
              width: 100%;
            }
          }
        }
      }
    }
  }

  // SendInBlue Subscribe Form
  &.widget_sib_subscribe_form {
    padding: rfs-value(30px);
    background-color: $color-light-gray;

    .sib-email-area {
      input#sib-email-area {
        background-image: escape-svg($bs-envelope-heart-icon);
        background-position: 1.375rem center;
        background-repeat: no-repeat;
        background-size: rfs-value(20px);
        padding-left: rfs-value(53px);

        &:focus {
          background-image: escape-svg($bs-envelope-heart-icon-active);
        }
      }
    }
  }

  // TOC
  .ez-toc-counter{
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    margin-bottom: rfs-value(-5px);
    box-shadow: none;
    .ez-toc-title-container{
      margin-bottom: rfs-value(20px);
      .ez-toc-title{
        color: $color-black;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 0;
        @include font-size(34px);
        @include media-breakpoint-only(lg){
          @include font-size(25px);
        }
        @include media-breakpoint-only(xl){
          @include font-size(30px);
        }
      }
    }

    ul{
      line-height: 1.25;
      margin: 0;
      padding: 0;
      direction: ltr;
      &.ez-toc-list-level-1{
        margin: rfs-value(0 0 0 5px);
        list-style: none;
      }
    }

    .ez-toc-list{
      li{
        transition: color 300ms ease;
        &.active-parent{
          & > .ez-toc-link{
            color: $toc_black;
          }
        }
        &.active{
          & > .ez-toc-link{
            color: $toc_black;
            text-decoration: underline;
            text-decoration-color: $color-primary-dark;
            text-decoration-thickness: rfs-value(3px);
          }
        }
        .ez-toc-link{
          color: $color-black;
          text-decoration: none;
          font-weight: 400;
          transition: color 300ms ease;
          &:before{
            width: rfs-value(16px);
            margin-right: rfs-value(3px);
          }
        }
      }


      // 1st level
      .ez-toc-heading-level-2{
        &:not(:last-child){
          margin-bottom: rfs-value(12px);
        }
        .ez-toc-link{
          @include font-size(17px);
          font-weight: 500;
          &:hover{
            color: $toc_black;
            text-decoration: underline;
            text-decoration-color: $color-primary-dark;
            text-decoration-thickness: rfs-value(3px);
          }
        }
      }

      // 2nd Level
      .ez-toc-list-level-3{
        margin-left: rfs-value(10px);
        margin-top: rfs-value(5px);
        list-style: none;
        line-height: 1.4;
        &.offset-top{
          margin-top: rfs-value(-5px);
        }
        li{
          outline: none;
          &:not(:last-child){
            margin-bottom: rfs-value(2px);
          }
          .ez-toc-link{
            font-weight: 400;
            @include font-size(16px);
            &:hover{
              color: $toc_black;
              text-decoration: underline;
              text-decoration-color: $color-primary-dark;
              text-decoration-thickness: rfs-value(2px);
            }
          }
        }
      }


    }
  }

}