/**
 * Archive Sidebar + Single Sidebar + Page Sidebar
 */
#right-sidebar {
  @include media-breakpoint-down(lg){
    flex-grow: 1;
  }
  @include media-breakpoint-up(lg){
    padding-left: 2rem;
  }
  .sticky-top{
    top: 105px;
    z-index: 1;
  }

  #about-page-sidebar{
    img.image{
      border: 7px solid white;
      border-radius: 100%;
    }
  }

}

.widget {
  padding: rfs-value(20px 22px);
  @include media-breakpoint-up(sm){
    padding: rfs-value(30px 32px);
  }
  @include media-breakpoint-only(lg){
    padding: rfs-value(18px 20px 14px 20px);
  }
  @include media-breakpoint-only(xl){
    padding: rfs-value(22px 23px);
  }
  @include media-breakpoint-up(xxl){
    padding: rfs-value(30px 32px);
  }
  &:not(:last-child){
    margin-bottom: 2rem;
  }

  .w-title{
    @include media-breakpoint-only(lg){
      @include font-size(23px)
    }
    @include media-breakpoint-only(xl){
      @include font-size(26px)
    }
    @include highlight($height: 12px, $bottom: 4px);
  }

  // Gravity Forms
  .gform_confirmation_wrapper{
    background-color: $color-white;
    padding: rfs-value(40px 20px 40px 20px);
    @include border-radius($border-radius-lg);
    .gform_confirmation_message{
      h2{
        @include font-size(28px);
      }
      @include font-size(17px);
      line-height: 1.6;
    }
  }

  .gform_wrapper{
    padding: rfs-value(5px 0 15px 0);
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    .gform_heading{
      .gform_description{
        font-weight: 700;
        line-height: 1.4;
        @include media-breakpoint-only(lg){
          @include font-size(17px);
        }
        @include media-breakpoint-only(xl){
          @include font-size(20px);
        }
      }
    }
    .gform_body{
      .gform_fields{
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: rfs-value(15px);
        .gfield{
          flex: 1 1 100%;
          &.gfield--type-email{
            input{
              min-height: 52px;
              text-align: center;
            }
          }
          &.gfield--type-submit{
            input[type="submit"]{
              @include make-button-primary('lighten');
              width: 100%;
            }
          }
        }
      }
    }
  }

  // SendInBlue Subscribe Form
  &.widget_sib_subscribe_form {
    padding: rfs-value(30px);
    background-color: $color-light-gray;

    .sib-email-area {
      input#sib-email-area {
        background-image: escape-svg($bs-envelope-heart-icon);
        background-position: 22px center;
        background-repeat: no-repeat;
        background-size: rfs-value(20px);
        padding-left: rfs-value(53px);

        &:focus {
          background-image: escape-svg($bs-envelope-heart-icon-active);
        }
      }
    }
  }

  // TOC
  #ez-toc-container{
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
    .ez-toc-title{
      @include font-size(24px);
      margin-bottom: rfs-value(15px);
      display: inline-block !important;
      @include highlight($height: 9px, $bottom: 3px);
      @include media-breakpoint-up(md){
        @include highlight($height: 9px, $bottom: 4px);
      }
      @include media-breakpoint-up(xl){
        @include font-size(30px);
        @include highlight($height: 10px, $bottom: 5px);
      }
      @include media-breakpoint-up(xxl){
        @include font-size($h3-font-size);
        @include highlight($height: 11px, $bottom: 6px);
      }

    }
    .ez-toc-list{

      // General
      .ez-toc-link{
        text-decoration: none;
        font-weight: 500;
        //@include highlight-on-hover($offset: 23px, $height: 6px, $bottom: 3px);

        &:before{
          width: rfs-value(20px);
          margin-right: rfs-value(3px);
        }
      }

      // 1st level
      .ez-toc-heading-level-2{
        &:not(:last-child){
          margin-bottom: rfs-value(8px);
        }
        .ez-toc-link{
          @include font-size(16px);
          @include media-breakpoint-only(xl){
            @include font-size(17px);
          }
          @include media-breakpoint-up(xxl){
            @include font-size(18px);
          }
        }
      }

      // 2nd Level
      .ez-toc-list-level-3{
        margin-left: rfs-value(25px);
        list-style: circle;
        li{
          .ez-toc-link{
            @include font-size(16px);
            @include media-breakpoint-only(xl){
              @include font-size(15px);
            }
            @include media-breakpoint-up(xxl){
              @include font-size(16px);
            }
            font-weight: 400;
            //line-height: 22px;
            //@include highlight-on-hover($height: 6px, $bottom: 2px, $offset: 15px);
            &::before {
              content: counter(item, circle) "";
              width: rfs-value(12px);
            }
          }
        }
      }


    }
  }

}