ta,
.ta-editor-shortcode {
	box-shadow: none;
	color: var(--wp--preset--color--black);
	font-weight: 600;
	border-bottom: 2px solid #30b2a6;
}

.acf-block-body .acf-link a.button,
.acf-block-body .acf-input .acf-button{
	font-family: var(--wp--preset--font-family--inter);
	font-weight: 500;
}
.acf-block-body .acf-link a.button:hover,
.acf-block-body .acf-input .acf-button:hover{
	border-width: 1px;
	border-style: solid;
}
.acf-block-body .acf-link a.link-url{
	color: #2271b1;
	font-family: var(--wp--preset--font-family--inter);
	font-weight: 400;
	border: none;
}

/* Block Image custom styles */
.wp-block-image .wp-element-caption{
	text-align: end;
	color: #595959;
	font-size: .875rem;
	margin-top: 0.4375rem;
	font-family: var(--wp--preset--font-family--inter);
}
.wp-block-image .wp-element-caption a{
	font-family: var(--wp--preset--font-family--inter);
	font-weight: 500;
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
	-webkit-text-decoration-color: #f0c000;
	text-decoration-color: #f0c000;
	text-decoration-thickness: 0.125rem;
}
.wp-block-image .wp-element-caption a:hover{
	text-decoration: underline;
	-webkit-text-decoration-color: #f0c000;
	text-decoration-color: #f0c000;
	text-decoration-thickness: 0.125rem;
}
/* ------------------------------------------------------------------------------------------------------------------- */


/* Block Table custom styles */
/* ------------------------------------------------------------------------------------------------------------------- */
.wp-block-table table tbody,
.wp-block-table table tbody td,
.wp-block-table table tfoot,
.wp-block-table table tfoot td,
.wp-block-table table thead,
.wp-block-table table thead th,
.wp-block-table table tr{
	border-color: inherit;
	padding: 0.625rem 1rem;
}

.wp-block-table table:not(caption) > * > * {
	border-bottom-width: 1px;
}
.wp-block-table table:not(caption) > * {
	border-width: 1px 0;
}
.wp-block-table table:not(caption) > * > * {
  border-width: 0 1px;
}
.wp-block-table table thead {
	vertical-align: inherit;
	background-color: var(--wp--preset--color--light-gray);
}
.wp-block-table table thead th:not([class^="has-text-align"]){
	text-align: start;
}
.wp-block-table table td strong,
.wp-block-table table th{ font-weight: 600; }


/* Block Quote custom styles */
/* ------------------------------------------------------------------------------------------------------------------- */
.wp-block-quote .wp-block-quote__citation{
	font-size: 20px;
	color: #7d7b7b;
	font-family: var(--wp--preset--font-family--inter);
}
.wp-block-quote .wp-block-quote__citation:before {
    content: "— ";
}

/* Block List custom styles */
/* ------------------------------------------------------------------------------------------------------------------- */
.wp-block-list > li > div > strong,
.wp-block-list > li > div > a > strong{
	font-family: var(--wp--preset--font-family--inter);
}

/* Product Card */
/* ------------------------------------------------------------------------------------------------------------------- */
.wp-block-acf-product-card{
	margin-block-start: 4rem !important;
	margin-block-end:  0;
}
.wp-block-acf-product-card .product-heading{
	margin-bottom: 1.5rem !important;
}
.wp-block-acf-product-card .product-heading .title{
	margin: 0;
}
.wp-block-acf-product-card .product-heading .title a{
	color: var(--wp--preset--color--black);
	font-family: var(--wp--preset--font-family--inter);
	font-weight: 700;
	text-decoration: none;
	border: none;
}
.wp-block-acf-product-card .product-heading .title a:hover{
	text-decoration: underline;
	text-decoration-color: var(--wp--preset--color--primary);
	text-decoration-thickness: 4px;
}

.wp-block-acf-product-card .product-heading .title .number {
	background-color: var(--wp--preset--color--primary);
	padding-left: 0.625rem;
	padding-right: 0.4375rem;
	margin-right: 5px;
	font-style: normal;
	display: inline-block;
}
.wp-block-acf-product-card .product-heading .title a:hover .number {
	text-decoration: none;
	text-decoration-color: var(--wp--preset--color--primary);
	text-decoration-thickness: 0;
}

.wp-block-acf-product-card .product-heading .subtitle{
	color: var(--wp--preset--color--black);
	margin-bottom: 0;
	letter-spacing: .03rem;
	text-transform: uppercase;
	font-family: var(--wp--preset--font-family--inter);
	line-height: 1.25;
	font-weight: 600;
	font-size: 1.125rem;
	padding: 0;
	margin-top: 1rem;
}
.wp-block-acf-product-card .post-thumbnail {
	border: 1px solid var(--wp--preset--color--border-gray);
	border-radius: 15px;
	margin-bottom: 2rem;
	width: 100%;
	overflow: hidden;
    box-sizing: border-box;
}
.wp-block-acf-product-card .post-thumbnail img{
	margin-bottom: 0;
	width: 100%;
	display: block;
	max-height: 500px; /* for better UX */
}
.wp-block-acf-product-card .post-thumbnail +.figure-caption {
	margin-top: -1rem;
	margin-bottom: 1.5rem;
	font-family: var(--wp--preset--font-family--inter);
	color: var(--wp--preset--color--gray);
	font-style: italic;
	font-size: 14px;
}
.wp-block-acf-product-card .post-thumbnail.best {
	position: relative;
	border-width: 0.3125rem;
	border-color: var(--wp--preset--color--primary);
}
.wp-block-acf-product-card .post-thumbnail.best:after {
	content: "";
	background-image: url(./assets/images/certificate.svg);
	background-size: 2.5rem 2.5rem;
	position: absolute;
	top: 0.8125rem;
	right: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;
	z-index: 2;
}
/* Pros & Cons */
/* ------------------------------------------------------------------------------------------------------------------- */
.wp-block-acf-pros-cons{
	margin-block-start: 40px !important;
	margin-block-end:  40px !important;
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-radius: 15px;
	border: 1px solid var(--wp--preset--color--border-gray);
	overflow: hidden;
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column{
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column.pros{
	border-right: 1px solid var(--wp--preset--color--border-gray);
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .heading{
	background-color: var(--wp--preset--color--light-gray);
	padding: 0.75rem 1.5625rem;
	border-bottom: 1px solid var(--wp--preset--color--border-gray);
	font-family: var(--wp--preset--font-family--inter);
	font-weight: 700;
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .list{
	font-size: 1rem;
	font-weight: 400;
	padding: 5px 20px 5px 20px;
	list-style: none;
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .list li{
	line-height: 1.6;
	list-style: none;
	padding: 0 0 10px 18px;
	margin: 0;
	position: relative;
	font-family: var(--wp--preset--font-family--inter);
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .list li:before{
	content: "";
	border-radius: 100%;
	width: 10px;
	height: 10px;
	padding: 0;
	display: inline-block;
	margin-right: 11px;
	position: absolute;
	left: 0;
	top: 7px;

}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .list.pros-list li:before{
	background: #10AA65;
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .list.cons-list li:before{
	background: #EB5757;
}

.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .list li .icon{
	display: none;
}
.wp-block-acf-pros-cons .wp-block-pros-and-cons .column .list:last-child{
	margin-bottom: 0;
}

/* Top Products */
/* ------------------------------------------------------------------------------------------------------------------- */
.wp-block-acf-top-products{
	background-color: var(--wp--preset--color--light-gray);
	border: 1px solid var(--wp--preset--color--border-gray);
	border-radius: 15px;
	padding: 20px;
	box-sizing: border-box;
	margin-block-start: 24px;
	margin-block-end: 24px;
}
.wp-block-acf-top-products .top-picks{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.wp-block-acf-top-products .top-picks:not(:last-child){
	margin-bottom: 25px;
}
.wp-block-acf-top-products .top-picks .column-preview{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	border: 1px solid var(--wp--preset--color--border-gray);
	width: 100%;
	max-width: 9.375rem;
	min-height: 5.625rem;
}
.wp-block-acf-top-products .top-picks .column-preview{
	height: auto;
	border-radius: 15px;
	background-color: white;
	padding: 10px;
	max-width: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wp-block-acf-top-products .top-picks.best .column-preview{
	border-color: var(--wp--preset--color--primary);
	border-width: 0.125rem;
	position: relative;
}
.wp-block-acf-top-products .top-picks.best .column-preview:after {
	content: "";
	background-image: url(./assets/images/certificate.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: -0.9375rem;
	left: 50%;
	margin-left: -1.25rem;
	z-index: 2;
	width: 2.5rem;
	height: 2.5rem;
}

.wp-block-acf-top-products .top-picks .column-description{
	padding-right: 185px;
	position: relative;
}
.wp-block-acf-top-products .top-picks .column-description .top-picks-heading{
	padding: 1px 0 1px 20px;
}
.wp-block-acf-top-products .top-picks .column-description .top-picks-heading .subtitle{
	font-family: var(--wp--preset--font-family--inter);
	font-size: 12px;
	font-weight: 600;
	padding-left: 0;
	margin-bottom: 3px;
	text-transform: uppercase;
}
.wp-block-acf-top-products .top-picks .column-description .top-picks-heading .title{
	font-family: var(--wp--preset--font-family--inter);
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}
.wp-block-acf-top-products .top-picks .column-description .top-picks-heading .description{
	color: var(--wp--preset--color--black);
	font-family: var(--wp--preset--font-family--inter);
	font-size: .875rem;
	margin-bottom: 5px;
}
.wp-block-acf-top-products .top-picks .column-description .top-picks-heading .more{
	font-size: 14px;
	text-decoration: none;
	font-family: var(--wp--preset--font-family--inter);
}
.wp-block-acf-top-products .top-picks .middle{
	position: absolute;
	width: 100%;
	max-width: 170px;
	right: 0;
	left: auto;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wp-block-acf-top-products .top-picks .middle .btn-primary{
	color: var(--wp--preset--color--black);
	background-color: var(--wp--preset--color--primary);
	text-decoration: none;
	font-weight: 500;
	font-size: 15px;
	padding: 8px 6px;
	border-radius: 50px;
	font-family: var(--wp--preset--font-family--inter);
	width: 100%;
	letter-spacing: 0;
	text-align: center;
}

/* Accordion */
/* ------------------------------------------------------------------------------------------------------------------- */
.wp-block-acf-accordion{
	border: 1px solid #a9daff;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
}
.wp-block-acf-accordion .accordion-item{
	padding: 20px;
	background: #fbfcfc;
}
.wp-block-acf-accordion .accordion-item:not(:last-child){
	border-bottom: 1px solid #a9daff;
}
.wp-block-acf-accordion .accordion-item .accordion-header{
	margin-top: 0;
	font-family: var(--wp--preset--font-family--inter);
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 10px;
}
.wp-block-acf-accordion .accordion-item .accordion-header .accordion-button{
	border: none;
	background: none;
	padding: 0;
}
.wp-block-acf-accordion .accordion-item .accordion-body{
	font-family: var(--wp--preset--font-family--inter);
	font-size: 16px;
	font-weight: 400;
}
.wp-block-acf-accordion .accordion-item .accordion-body .entry-content p:last-child{
	margin-bottom: 0;
}



/* TINY MCE */
/* ------------------------------------------------------------------------------------------------------------------- */
body.mce-content-body{
	color: #292929;
	font-family: 'Lora', serif;
	font-size: 1.125rem;
	line-height: 1.65;
}
body.mce-content-body h1,
body.mce-content-body h2,
body.mce-content-body h3,
body.mce-content-body h4,
body.mce-content-body h5{
	color: #292929;
	font-family: 'Inter', sans-serif;
	margin: 30px 0 5px 0;
	font-weight: 800;
}
body.mce-content-body a.bigger:not(.btn){
	font-size: 23px;
}

body.mce-content-body a:not(.btn){
    color: #292929;
    border-bottom: 2px solid #fdd11f;
    text-decoration: none;
    font-weight: 600;
}

body.mce-content-body a.btn.btn-primary, a.btn.btn-primary:focus{
    color: #292929;
    background-color: #fdd11f;
    text-decoration: none;

    display: inline-block;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    box-shadow: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body.mce-content-body h1{ font-size: 36px }
body.mce-content-body h2{ font-size: 30px }
body.mce-content-body h3{ font-size: 26px }


@media (min-width: 576px){
	.text-sm-start {
		text-align: left!important;
	}
	.col-sm-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 25%;
	}
	.col-sm-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 75%;
	}
}
