body {
	color: #292929;
	font-family: 'Lora', serif;
	font-size: 1.188rem;
	line-height: 1.65;
}

h1, h2, h3, h4, h5 {
	color: #292929;
	font-family: 'Inter', sans-serif;
	margin: 30px 0 5px 0;
	font-weight: 800;
}

h1 {
	font-size: 54px;
}

h2 {
	font-size: 44px;
}

h3 {
	font-size: 36px;
}

p {
	margin-top: 0;
	margin-bottom: 1.25rem;
}

.wp-block-spacer {
	background-color: #f7f8f9;
}

figure {
	font-family: 'Inter', sans-serif;
}

.wp-block-buttons {
	font-family: 'Inter', sans-serif;
}

.wp-block-buttons .wp-block-button__link {
	color: #292929;
	background-color: #fdd11f;
	padding: 15px 35px;
	border-radius: 25px;
	font-weight: 600;
	line-height: 1.1 !important;
}

.wp-block a {
	color: #292929;
	border-bottom: 2px solid #fdd11f;
	text-decoration: none;
	font-weight: 600;
}


.editor-rich-text ta, ta, .ta-editor-shortcode {
	border: 2px dashed #5333ed !important;
	padding: 4px 10px;
	font-weight: 700;
	display: inline-block;
	box-shadow: none;
}

/* TINY MCE */
.mce-content-body a:not(.btn){
    color: #292929;
    border-bottom: 2px solid #fdd11f;
    text-decoration: none;
    font-weight: 600;
}
.mce-content-body a.btn.btn-primary, a.btn.btn-primary:focus{
    color: #292929;
    background-color: #fdd11f;
    text-decoration: none;

    display: inline-block;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    box-shadow: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}