@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    } @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    } @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 47px;
    width: 45px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background-image: escape-svg($bs-arrow-left-circle-icon);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 100;
    opacity: 0.85;
    transition: opacity 300ms ease;

    &:hover, &:focus {
        outline: none;
    }

    &:hover {
        background-image: escape-svg($bs-arrow-left-circle-icon-h);
        opacity: 1;
    }

    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev {
    left: 15px;
    @include media-breakpoint-up(md){
        left: 15px;
    }
    [dir="rtl"] & {
        left: auto;
        right: 15px;
    }
}

.slick-next {
    transform: rotate(180deg);
    transform-origin: 50% 25%;
    right: 15px;
    @include media-breakpoint-up(md){
        right: 15px;
    }

    [dir="rtl"] & {
        left: 15px;
        right: auto;
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 0;
    padding-bottom: 40px;
    .slick-prev,
    .slick-next {
        top: 46%;
    }
}

.slick-dots {
    position: absolute;
    bottom: -20px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    right: 0;
    li {
        position: relative;
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 0 9px;
        padding: 0;
        cursor: pointer;

        button {
            background: transparent;
            display: block;
            height: 17px;
            width: 17px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            vertical-align: middle;
            border-radius: 100%;
            border: 2px solid $slick-dot-color;

            &:hover, &:focus {
                outline: none;
            }
        }

        &.slick-active button {
            opacity: $slick-opacity-default;
            background-color: $slick-dot-color;
        }
    }
}
