/**
 * General posts loop
 */
.posts-loop {

  .item {
    // 4 cols
    &.four-cols {
      .subtitle {
        @include font-size(14px);
      }
    }
    // 3 cols
    &.three-cols{
      .entry-title{ @include font-size(21px); }
      .subtitle { @include font-size(15px); }
    }
    // 2 cols
    &.two-cols{
      .entry-title{
        @include font-size(24px)
      }
    }

    .article-author {
      .list-inline-item {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    .post-loop-item{
      transition: all .25s cubic-bezier(.02,.01,.47,1);
      box-shadow: 0 7px 7px rgba(#f0f3f4,0.95), 0 0 0 transparent;
      //backface-visibility: hidden;
      &:hover{
  -webkit-transform: translateY(-4px) translate3d(0,0,0) translateZ(0);
          transform: translateY(-4px) translate3d(0,0,0) translateZ(0);
          box-shadow: 0 4px 35px 0 rgba(#d8d8d8,0.95), 0 0 0 transparent;
      }
    }

    .bg {
      @include responsive-ratio-background(16, 9, true);
    }

    .category {
      padding: 8px 12px 7px 12px;
      @include font-size(11px);
      @include custom-letter-spacing();
      margin-bottom: 10px;
      line-height: 1;
    }

    .entry-title {
      line-height: 1.35;
    }

    .subtitle {
      @include font-size(16px);
    }
  }
}


/**
 * Archive Sidebar + Single Sidebar
 */
#right-sidebar {
  @include media-breakpoint-up(lg){
    padding-left: 2rem;
  }
  .sticky-top{
    top: 105px;
    z-index: 1;
  }
  .widget {
    background-color: $color-light-gray;
    border: 1px solid $color-border-gray;
    padding: 25px 32px;
    &:not(:last-child){
      margin-bottom: 2rem;
    }

    // Gravity Forms
    .gform_wrapper{
      padding: 5px 0 15px 0;
      background-color: transparent;
      border-radius: 0;
      border: none;
      box-shadow: none;
      .gform_heading{
        .gform_description{
          font-weight: 700;
          line-height: 1.4;
        }
      }
      .gform_body{
        .gform_fields{
          display: flex;
          flex-wrap: wrap;
          grid-row-gap: 15px;
          .gfield{
            flex: 1 1 100%;
            &.gfield--type-email{
              input{
                min-height: 52px;
                text-align: center;
              }
            }
            &.gfield--type-submit{
              input[type="submit"]{
                @include make-button-primary();
                width: 100%;
              }
            }
          }
        }
      }
    }

    // SendInBlue Subscribe Form
    &.widget_sib_subscribe_form {
      padding: 30px;
      background-color: $color-light-gray;

      .sib-email-area {
        input#sib-email-area {
          background-image: escape-svg($bs-envelope-heart-icon);
          background-position: 22px center;
          background-repeat: no-repeat;
          background-size: 20px;
          padding-left: 53px;

          &:focus {
            background-image: escape-svg($bs-envelope-heart-icon-active);
          }
        }
      }
    }
  }
}


/**
 * Social Share Icons
 */
.social-share-icons{
  li{
    a{
      &:hover{
        svg{
          path{
            fill: $color-primary;
          }
        }
      }
      svg{
        width: 21px;
        height: auto;
        path{
          fill: $color-black;
          @include transition();
        }
      }
    }
  }
}