/**
 * Archive Heading
 */
header#category-heading{
  margin-top: $headings-top-negative-margin; // offset to have equal top/bottom paddings
  margin-bottom: rfs-value(45px);
  @include media-breakpoint-up(md){
    margin-bottom: rfs-value(55px);
  }
  &:not(.disable-highlight){
    h1, .category-title{
      @include heading-highlight();
    }
  }
  h1, .category-title{
    margin-bottom: 0;
  }
  .cat-description{
    max-width: rfs-value(800px);
    margin-left: auto;
    margin-right: auto;
    margin-top: rfs-value(15px);
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

/**
 * General posts loop
 */
.posts-loop {

  .item {
    // 4 cols
    &.four-cols {
      .inner{
        .entry-title{ @include font-size(24px); }
        .subtitle { @include font-size(15px); }
      }
    }
    // 3 cols
    &.three-cols{
      .inner{
        .entry-title{ @include font-size(26px); }
      }
    }
    // 2 cols
    &.two-cols{
      .inner{
        .entry-title{ @include font-size(26px) }
      }
    }

    .article-author {
      .list-inline-item {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    .post-loop-item{
      transition: all .25s cubic-bezier(.02,.01,.47,1);
      box-shadow: 0 0.438rem 0.438rem rgba(#f0f3f4,0.95), 0 0 0 transparent;
      &:hover{
          -webkit-transform: translateY(-4px) translate3d(0,0,0) translateZ(0);
          transform: translateY(-4px) translate3d(0,0,0) translateZ(0);
          box-shadow: 0 0.25rem 2.188rem 0 rgba(#d8d8d8,0.95), 0 0 0 transparent;
        //.bg {
        //  &:after { opacity: 0.4; } // Todo: do we need it?
        //}
      }
    }

    .bg {
      position: relative;
      @include responsive-ratio-background(16, 9, true);
      border-bottom: 1px solid $color-border-gray;
      //&:after {
      //  content: "";
      //  -o-transition: opacity 0.4s ease;
      //  transition: opacity 0.4s ease;
      //  -webkit-transition: opacity 0.4s ease;
      //  -moz-transition: opacity 0.4s ease;
      //  -ms-transition: opacity 0.4s ease;
      //  @include full-cover();
      //  @include gradient-y(transparent, rgba(0,0,0,.45), 60%, 100%);
      //}
    }

    .inner{
      padding: rfs-value(26px);
      @include media-breakpoint-up(lg){
        padding: rfs-value(28px 30px);
      }
      .category {
        padding: rfs-value(8px 12px 7px 12px);
        @include font-size(11px);
        @include custom-letter-spacing();
        margin-bottom: rfs-value(10px);
        line-height: 1;
      }

      .entry-title {
        line-height: 1.25;
      }

      .subtitle {
        line-height: 1.5;
        @include font-size(16px);
      }
    }

  }
}




/**
 * Social Share Icons
 */
.social-share-icons{
  li{
    a{
      &:hover{
        svg{
          path{
            fill: $color-primary-dark;
          }
        }
      }
      svg{
        width: rfs-value(21px);
        height: auto;
        path{
          fill: $color-black;
          @include transition();
        }
      }
    }
  }
}