/**
 * Archive Heading
 */
header#category-heading{
  text-align: center;
  margin-top: $headings-top-negative-margin; // offset to have equal top/bottom paddings
  margin-bottom: 45px;
  @include media-breakpoint-up(md){
    margin-bottom: 65px;
  }
  h1, .category-title{
    margin-bottom: 0;
    @include bottom-highlight($bottom: 2px);
    @include media-breakpoint-up(md){
      @include bottom-highlight($bottom: 3px);
    }
  }
  .cat-description{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

/**
 * General posts loop
 */
.posts-loop {

  .item {
    // 4 cols
    &.four-cols {
      .entry-title{ @include font-size(20px); }
      .subtitle { @include font-size(14px); }
    }
    // 3 cols
    &.three-cols{
      .entry-title{ @include font-size(23px); }
      .subtitle { @include font-size(15px); }
    }
    // 2 cols
    &.two-cols{
      .entry-title{ @include font-size(26px) }
    }

    .article-author {
      .list-inline-item {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    .post-loop-item{
      transition: all .25s cubic-bezier(.02,.01,.47,1);
      box-shadow: 0 7px 7px rgba(#f0f3f4,0.95), 0 0 0 transparent;
      &:hover{
          -webkit-transform: translateY(-4px) translate3d(0,0,0) translateZ(0);
          transform: translateY(-4px) translate3d(0,0,0) translateZ(0);
          box-shadow: 0 4px 35px 0 rgba(#d8d8d8,0.95), 0 0 0 transparent;
        .bg {
          &:after { opacity: 0.4; } // Todo: do we need it?
        }
      }
    }

    .bg {
      position: relative;
      @include responsive-ratio-background(16, 9, true);
      &:after {
        content: "";
        -o-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
        -webkit-transition: opacity 0.4s ease;
        -moz-transition: opacity 0.4s ease;
        -ms-transition: opacity 0.4s ease;
        @include full-cover();
        @include gradient-y(transparent, rgba(0,0,0,.45), 60%, 100%);
      }
    }

    .inner{
      padding: 26px;
      @include media-breakpoint-up(lg){
        padding: 28px 30px;
      }
      .category {
        padding: 8px 12px 7px 12px;
        @include font-size(11px);
        @include custom-letter-spacing();
        margin-bottom: 10px;
        line-height: 1;
      }

      .entry-title {
        line-height: 1.25;
      }

      .subtitle {
        @include font-size(16px);
      }
    }

  }
}




/**
 * Social Share Icons
 */
.social-share-icons{
  li{
    a{
      &:hover{
        svg{
          path{
            fill: $color-primary-dark;
          }
        }
      }
      svg{
        width: 21px;
        height: auto;
        path{
          fill: $color-black;
          @include transition();
        }
      }
    }
  }
}