#default-page-wrapper {
  .entry-content {

    h2 {
      margin: rfs-value(50px 0 20px);
      &:first-child {
        margin-top: 0;
      }
    }

    h2 {
      & + h3 {
        margin-top: rfs-value(10px);
      }
    }

    h3 {
      margin: rfs-value(45px 0 16px);
    }

    h4{
      @include font-size(22px);
      margin: rfs-value(40px 0 12px);
    }

    ul > li, ol > li {
      margin-bottom: rfs-value(11px);
      line-height: 1.65;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      @include link-hover-effect();
    }

    p strong{
      font-weight: 600;
    }

    figure {
      img {
        @include img-fluid();
      }

      figcaption {
        color: $color-gray;
        font-family: $font-secondary;
        @include font-size(14px);
        margin-top: rfs-value(7px);
      }
    }

    img:not(.figure-img) {
      @include img-fluid();
    }

  }
}