#default-page-wrapper {
  .entry-content {

    h2, h3 {
      margin: rfs-value(50px 0 20px);
      &:first-child {
        margin-top: 0;
      }
    }

    h2 {
      @include font-size(30px);
      & + h3 {
        margin-top: rfs-value(10px);
      }
    }

    h3 {
      @include font-size(25px);
      font-weight: 700;
    }

    h4{
      @include font-size(26px);
    }

    ul > li, ol > li {
      margin-bottom: rfs-value(11px);
      line-height: 1.65;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      @include link-hover-effect();
    }

    figure {
      img {
        @include img-fluid();
      }

      figcaption {
        color: $color-gray;
        font-family: $font-secondary;
        @include font-size(14px);
        margin-top: rfs-value(7px);
      }
    }
    img {
      @include img-fluid();
    }

  }
}