/**
 * General article block
 */
.article-author {
  .list-inline-item {
    &:not(:last-child) {
      margin-right: rfs-value(12px);
    }
  }

  time, .total-reading-time {
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: rfs-value(13px);
      display: inline-block;
      width: rfs-value(13px);
      height: rfs-value(16px);
      vertical-align: text-bottom;
      margin-right: rfs-value(5px);
    }
  }

  time {
    &:before {
      background-image: escape-svg($bs-calendar-icon);
    }
  }

  .total-reading-time {
    &:before {
      background-image: escape-svg($bs-timer-icon);
    }
  }
}


/**
 * Single Article Template
 */
#single-article-template {

  .hero-header{
    .entry-header{
      max-width: var(--title-width);
      margin-left: auto;
      margin-right: auto;
      h1.entry-title {
        @include media-breakpoint-up(md){
          @include font-size(52px);
        }
      }
    }
  }

  .rankmath-breadcrumb-container{
    font-family: $font-secondary;
    background-color: darken($color-light-gray, 4%);
    border-bottom: 1px solid $color-border-gray;
    padding: rfs-value(6px 0);
    .rank-math-breadcrumb{
      @include font-size(16px);
      p{
        margin: 0;
      }
      a{
        @include text-decoration-underline();
      }
    }
  }

  .single-entry-body{
    margin-top: rfs-fluid-value(50px);
    @include media-breakpoint-down(lg){
      .container-xl{
        max-width: 800px;
      }
    }
  }

  // Author Block
  // ===================================================================================================================
  .author-block-meta {

    .article-author{
      .list-heading{
        margin-bottom: rfs-value(1px);
        .author-name{
          @include font-size(15px);
          a{
            color: $color-black;
            @include text-decoration-underline();
          }
        }
      }
      li.list-inline-item{
        margin-right: rfs-value(8px);
        @include media-breakpoint-down(xl){
          @include font-size(13px);
        }
        @include media-breakpoint-only(lg) {
          margin-right: rfs-value(4px);
        }
        @include media-breakpoint-down(sm){
          display: block;
        }
        &:not(:last-child){
          &:after{
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: $color-secondary;
            display: inline-block;
            vertical-align: middle;
            margin-left: rfs-value(6px);
            margin-top: rfs-value(-2px);
            @include media-breakpoint-down(sm){
              display: none;
            }
          }
        }
      }
    }

    .social-share-icons {
      @include font-size(14px);
      margin-top: 4px;
      margin-bottom: 0;
      @include media-breakpoint-up(lg){
        margin-top: -3px;
      }
      @include media-breakpoint-down(xl){
        @include font-size(13px);
      }
      @include media-breakpoint-down(md) {
        padding-left: rfs-value(67px);
      }
      .list-inline-item {
        margin-right: rfs-value(9px);
        @include media-breakpoint-only(lg){
          margin-right: rfs-value(7px);
        }
        &.list-heading{
          margin-right: 7px;
          @include media-breakpoint-up(lg){
            margin-bottom: 3px;
            display: block;
          }
        }
      }
    }
  }


  // Post Categories
  // ===================================================================================================================
  .post-categories-nav {
    @include font-size(11px);
    @include custom-letter-spacing();

    .nav-item {
      &:not(:last-child) {
        margin-right: rfs-value(15px);
      }

      .nav-item-link {
        color: $color-gray;
        background-color: $color-light-gray;
        border: 1px solid $color-border-gray;
        padding: rfs-value(7px 14px);
        @include transition();
        &:hover {
          color: $color-gray;
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }


  // Affiliate Disclosure
  // ===================================================================================================================
  .affiliate-disclosure {
    padding: rfs-value(12px 17px);
    @include font-size(12px);
    line-height: 1.5;

    p:last-child {
      margin: 0;
    }
  }


  // MAIN COPY
  // ===================================================================================================================

  .post-thumbnail {
    .figure-img {
      margin-bottom: 0;
    }
  }

  .hero-content {

    .narrow-content{
      max-width: rfs-value(730px);
      margin-left: auto;
      margin-right: auto;
    }

    .entry-content {

      // general styling
      h2:not(.title) {
        margin: rfs-value(50px 0 20px);
        &:first-child {
          margin-top: 0;
        }
      }
      h2 {
        & + h3 {
          margin-top: rfs-value(10px);
        }
      }
      h3{
        margin: rfs-value(45px 0 16px);
      }
      h4{
        @include font-size(22px);
        margin: rfs-value(40px 0 10px);
      }
      h5{
        @include font-size(20px);
        margin: rfs-value(40px 0 10px);
      }
      ul:not(.list):not(.wp-block-pros-and-cons):not(.wp-block-list) > li,
      ol:not(.list):not(.wp-block-pros-and-cons):not(.wp-block-list) > li {
        margin-bottom: rfs-value(20px);
        &:last-child {
          margin-bottom: 0;
        }
      }
      figure {
        img {
          @include img-fluid();
        }
        figcaption {
          color: $color-gray;
          font-family: $font-secondary;
          @include font-size(14px);
          margin-top: rfs-value(7px);
          &.wp-element-caption{
            text-align: end;
            a{
              font-weight: 500;
              @include text-decoration-underline();
            }
          }
        }
      }
      img:not(.figure-img) {
        @include img-fluid();
      }
      p strong{
        font-weight: 600;
      }

      // comment form shortcode
      .wpd-inline-shortcode {
        background: #f4f4f4;
        padding: rfs-value(3px 0 3px 6px);
        font-weight: 700;

        .wpd-inline-icon-wrapper {
          font-family: $font-secondary;

          svg.wpd-inline-icon {
            vertical-align: baseline;
          }
        }
      }

      // Affilate Links
      .link:not(.wp-block-button__link) {
        @include link-hover-effect();
      }

      .btn:not(.btn-sm) {
        min-width: rfs-value(200px);
        text-align: center;
      }

    }
  }


  // Related
  // ===================================================================================================================
  #related-posts {
    margin-top: rfs-value(36px);
    padding-top: rfs-value(64px);
    border-top: 1px solid $border-color;
    @include media-breakpoint-up(lg){
      margin-top: rfs-value(96px);
    }
  }

  // Sidebar
  // ===================================================================================================================
  #right-sidebar {
    .widget {
      &.text-2 {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  // Comments
  // ===================================================================================================================
  #comments-form {
    margin-top: rfs-value(110px);

    #comments {
      max-width: rfs-value(1100px);
      margin: 0 auto;
      color: $color-gray;
      font-family: $font-secondary;

      #wpdcom {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        font-family: $font-secondary;

        .wpd-auth {
          color: $color-gray;

          .wpd-login a {
            color: $color-secondary;
          }
        }

        .wpd-prim-button {
          font-family: $font-secondary;
        }

        .wpdiscuz-subscribe-bar {
          background-color: $color-light-gray;
          border: 1px solid $color-border-gray;
          padding: rfs-value(10px 15px);

          .wpdiscuz_subscribe_status {
            .wpd-unsubscribe {
              color: $color-secondary;
            }
          }

          .wpdiscuz-subscribe-form-option {
            select {
              border: 1px solid darken($color-border-gray, 10%) !important;
              height: rfs-value(32px !important);
            }
          }

          .wpdiscuz-subscribe-form-email {
            input {
              border: 1px solid darken($color-border-gray, 10%);
              padding: rfs-value(5px 10px !important);
              height: rfs-value(32px);
              box-shadow: none;
              outline: none;
            }
          }

          .wpdiscuz-subscribe-form-button {
            input {
              min-height: rfs-value(32px !important);
              height: rfs-value(32px !important);
            }
          }
        }

        .wpd-form-head {
          border-bottom-color: $color-border-gray;

          .wpd-sbs-toggle {
            color: $color-gray;
          }
        }

        .wpd-form {
          .wpdiscuz-textarea-wrap {
            textarea {
              box-shadow: none;
              border-color: $color-border-gray;
              @include font-size(15px);
              line-height: 1.3;
            }
          }
        }
      }
    }
  }

}