/**
 * General article block
 */
.article-author {
  .list-inline-item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  time, .total-reading-time {
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: 13px;
      display: inline-block;
      width: 13px;
      height: 16px;
      vertical-align: text-top;
      margin-right: 5px;
    }
  }

  time {
    &:before { background-image: escape-svg($bs-calendar-icon); }
  }

  .total-reading-time {
    &:before { background-image: escape-svg($bs-timer-icon); }
  }
}


/**
 * Single Article Template
 */
#single-article-template {
  header.entry-header{
    margin-top: -5px; // offset to have equal top/bottom paddings
    padding-bottom: 1.6rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-border-gray;
    h1.entry-title{
      line-height: 1.2;
      @include media-breakpoint-down(sm){
        //@include font-size(80px);
      }
      position: relative;
      padding-left: 6px;
      &:before{
        content: '';
        background: $color-primary;
        width: 13px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1;
        transform: translateY(-50%);
        @include media-breakpoint-up(lg){
          width: 15px;
        }
      }
    }
  }

  // Author Block
  // ===================================================================================================================
  .author-block-meta{
    ul:not(.social-share-icons){
      li{
        cite{
          a{
            color: $color-gray;
            &:hover{
              color: $color-primary;
            }
          }
        }
      }
    }
    .social-share-icons{
      @include media-breakpoint-down(md){
        padding-left: 67px;
      }
      li.list-inline-item{
        @include media-breakpoint-only(lg){
          margin-right: 8px;
        }
      }
    }
  }

  // Post Categories
  // ===================================================================================================================
  .post-categories-nav {
    @include font-size(11px);
    @include custom-letter-spacing();

    .nav-item {
      &:not(:last-child) {
        margin-right: 15px;
      }

      .nav-item-link {
        color: $color-gray;
        background-color: $color-light-gray;
        border: 1px solid $color-border-gray;
        padding: 7px 14px;
        @include transition();

        &:hover {
          color: white;
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }


  // Affiliate Disclosure
  // ===================================================================================================================
  .affiliate-disclosure {
    padding: rfs-value(12px 17px);
    @include font-size(12px);
    line-height: 1.5;
    p:last-child {
      margin: 0;
    }
  }


  // Intro
  // ===================================================================================================================
  .post-thumbnail{
    .figure-img{
      margin-bottom: 0;
    }
  }
  .intro-content{
    &.comparison-summary{

    }
    &.review-summary{
      .entry-content{
        h2, h3{
          margin: 40px 0 10px;
          &:first-child{
            margin-top: 0;
          }
        }
      }
    }
    .entry-content{
      // comment form shortcode
      .wpd-inline-shortcode{
        background: #f4f4f4;
        padding: 3px 0 3px 6px;
        font-weight: 700;
        .wpd-inline-icon-wrapper {
          font-family: $font-secondary;
          svg.wpd-inline-icon{
            vertical-align: baseline;
          }
        }
      }

      // Affilate Links
      .link{
        @include link-hover-effect();
      }

      // Block Editor => Image
      figure.wp-block-image{
        img{
          @include img-fluid()
        }
        figcaption.wp-element-caption{
          color: $color-gray;
          font-family: $font-secondary;
          @include font-size($h6-font-size);
        }
      }

      // Block Editor => Heading
      .wp-block-heading{

      }

      // Block Editor => Gallery
      .wp-block-gallery{

        &.columns-3{
          .wp-block-image{

          }
        }
        &.columns-2{
          .wp-block-image{

          }
        }
        &.columns-1{

        }
        .wp-block-image{

        }
      }

    }
  }
  .post-footer-content{
    border-top: 1px solid $color-border-gray;
    margin-top: 50px;
    padding-top: 25px;
  }

  // Product Summary
  // ===================================================================================================================
  .product-summary-wrapper {
    margin-top: rfs-value(30px);
    margin-bottom: rfs-value(50px);

    .top-picks {
      &:not(:last-child) {
        &:after {
          content: '';
          display: block;
          width: 100%;
          border-bottom: 1px solid $border-color;
          margin-bottom: rfs-value(15px);
          padding-bottom: rfs-value(15px);
        }
      }

      .column-preview {
        flex: 0 0 auto;
        width: 125px;
      }

      .top-picks-heading {
        .subtitle {
          @include custom-letter-spacing();
        }

        .title {
          line-height: 1.4;
          margin-bottom: rfs-value(2px);
        }

        .more {
          @include font-size(15px);
          color: $color-black;
          &:hover{
            color: $color-primary;
          }
          i {
            margin-right: rfs-value(2px);
          }
        }
      }
    }
  }


  // MAIN CONTENT AREA
  // ===================================================================================================================
  .entry-content-main {

    .product-heading {
      .subtitle {
        line-height: 1.2;

      }
    }

    .product-card {
      &:not(:last-child) {
        padding-bottom: rfs-value(50px);
        margin-bottom: rfs-value(50px);
        border-bottom: 1px solid $border-color;
      }
    }

    // Pros and Cons
    .pros-and-cons {

      .column {
        flex-basis: 0;
        flex-grow: 1;

        &.pros {
          border-right: 1px solid $color-border-gray;
        }

        .heading {
          background-color: $color-light-gray;
          padding: rfs-value(12px 25px);
          border-bottom: 1px solid $color-border-gray;
        }

        .list {
          @include font-size(16px);
          font-weight: 500;
          padding: rfs-value(25px 22px);

          &.pros-list {
            .icon {
              background-image: escape-svg($bs-check-icon);
            }
          }

          &.cons-list {
            .icon {
              background-image: escape-svg($bs-close-icon);
            }
          }

          li {
            .icon {
              background-position: center;
              background-repeat: no-repeat;
              background-size: 25px;
              width: 18px;
              height: 20px;
              padding: 0;
              display: inline-block;
              margin-right: $breadcrumb-item-padding-x;
              vertical-align: bottom;
            }

            margin: 0 0 18px 0;
            line-height: 1.1;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    // Entry Content
    .entry-content{
      h2,h3{
        margin: 50px 0 15px;
        &:first-child{ margin-top: 0; }
      }
    }

  }


  // Accordion
  // ===================================================================================================================
  #accordionFooter {
    .accordion-item {
      border: 1px solid $color-border-gray;

      &:not(:last-child) {
        margin-bottom: rfs-value(20px);
      }

      .accordion-button {
        @include font-size(22px);
      }
    }
  }


  // Related
  // ===================================================================================================================
  #related-posts {
    margin-top: rfs-value(80px);
  }


  // Comments
  // ===================================================================================================================
  #comments-form {
    margin-top: rfs-value(110px);
    #comments {
      max-width: 1100px;
      margin: 0 auto;
      color: $color-gray;
      font-family: $font-secondary;
      #wpdcom{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        font-family: $font-secondary;
        .wpd-auth{
          color: $color-gray;
          .wpd-login a{
            color: $color-secondary;
          }
        }
        .wpd-prim-button {
          font-family: $font-secondary;
        }
        .wpdiscuz-subscribe-bar{
          background-color: $color-light-gray;
          border: 1px solid $color-border-gray;
          padding: rfs-value(10px 15px);
          .wpdiscuz_subscribe_status{
            .wpd-unsubscribe{
              color: $color-secondary;
            }
          }
          .wpdiscuz-subscribe-form-option{
            select{
              border: 1px solid darken($color-border-gray, 10%) !important;
              height: rfs-value(32px !important);
            }
          }
          .wpdiscuz-subscribe-form-email{
            input{
              border: 1px solid darken($color-border-gray, 10%);
              padding: rfs-value(5px 10px !important);
              height: rfs-value(32px);
              box-shadow: none;
              outline: none;
            }
          }
          .wpdiscuz-subscribe-form-button{
            input{
              min-height: rfs-value(32px !important);
              height: rfs-value(32px !important);
            }
          }
        }

        .wpd-form-head{
          border-bottom-color: $color-border-gray;
          .wpd-sbs-toggle {
            color: $color-gray;
          }
        }

        .wpd-form{
          .wpdiscuz-textarea-wrap{
            textarea{
              box-shadow: none;
              border-color: $color-border-gray;
              @include font-size(15px);
              line-height: 1.3;
            }
          }
        }
      }
    }
  }

}