/**
 * General article block
 */
.article-author {
  .list-inline-item {
    &:not(:last-child) {
      margin-right: rfs-value(12px);
    }
  }

  time, .total-reading-time {
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: rfs-value(13px);
      display: inline-block;
      width: rfs-value(13px);
      height: rfs-value(16px);
      vertical-align: text-top;
      margin-right: rfs-value(5px);
    }
  }

  time {
    &:before {
      background-image: escape-svg($bs-calendar-icon);
    }
  }

  .total-reading-time {
    &:before {
      background-image: escape-svg($bs-timer-icon);
    }
  }
}


/**
 * Single Article Template
 */
@mixin entry-content-heading-styling() {
  h2, h3, h4 {
    margin: rfs-value(45px 0 9px);
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    & + h3 {
      margin-top: rfs-value(10px);
    }
  }
  h4{
    @include font-size(28px);
  }
  ul > li, ol > li {
    margin-bottom: rfs-value(8px);
    line-height: 1.65;

    &:last-child {
      margin-bottom: 0;
    }
  }
  figure {
    img {
      @include img-fluid();
    }

    figcaption {
      color: $color-gray;
      font-family: $font-secondary;
      @include font-size(14px);
      margin-top: rfs-value(7px);
    }
  }
  img {
    @include img-fluid();
  }
}

#single-article-template {
  .entry-content-headings-styling {
    @include entry-content-heading-styling();
  }

  .single-entry-heading{
    padding: rfs-fluid-value(50px) 0;
    margin-bottom: rfs-fluid-value(50px);
    border-bottom: 1px solid $color-border-gray;

    header.entry-header {
      max-width: 910px;
      margin-top: rfs-value(-5px); // offset to have equal top/bottom paddings

      h1.entry-title {
        line-height: 1.2;
        position: relative;
        padding-left: rfs-value(6px);
        &:before {
          content: '';
          background: $color-primary;
          width: rfs-value(13px);
          height: 100%;
          position: absolute;
          left: 0;
          top: 50%;
          z-index: -1;
          transform: translateY(-50%);
          @include media-breakpoint-up(lg) {
            width: rfs-value(15px);
          }
        }
      }
    }
  }

  // Author Block
  // ===================================================================================================================
  .author-block-meta {
    ul:not(.social-share-icons) {
      li {
        cite {
          a {
            color: $color-gray;
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }

    .social-share-icons {
      @include media-breakpoint-down(md) {
        padding-left: rfs-value(67px);
      }

      li.list-inline-item {
        @include media-breakpoint-only(lg) {
          margin-right: rfs-value(8px);
        }
      }
    }
  }

  // Post Categories
  // ===================================================================================================================
  .post-categories-nav {
    @include font-size(11px);
    @include custom-letter-spacing();

    .nav-item {
      &:not(:last-child) {
        margin-right: rfs-value(15px);
      }

      .nav-item-link {
        color: $color-gray;
        background-color: $color-light-gray;
        border: 1px solid $color-border-gray;
        padding: rfs-value(7px 14px);
        @include transition();
        &:hover {
          color: white;
          background-color: $color-primary;
          border-color: $color-primary;
        }
      }
    }
  }


  // Affiliate Disclosure
  // ===================================================================================================================
  .affiliate-disclosure {
    padding: rfs-value(12px 17px);
    @include font-size(12px);
    line-height: 1.5;

    p:last-child {
      margin: 0;
    }
  }


  // Intro
  // ===================================================================================================================
  .post-thumbnail {
    .figure-img {
      margin-bottom: 0;
    }
  }

  .intro-content {
    &.product-list-intro {
      border-top: 1px solid $color-border-gray;
      border-bottom: 1px solid $color-border-gray;
      margin: rfs-value(50px 0);
      padding: rfs-value(35px 0);
    }
    &.final-thoughts{
      border-top: 1px solid $color-border-gray;
      margin-top: rfs-value(50px);
      padding-top: rfs-value(35px);
    }

    .entry-content {
      @include entry-content-heading-styling();

      // comment form shortcode
      .wpd-inline-shortcode {
        background: #f4f4f4;
        padding: rfs-value(3px 0 3px 6px);
        font-weight: 700;

        .wpd-inline-icon-wrapper {
          font-family: $font-secondary;

          svg.wpd-inline-icon {
            vertical-align: baseline;
          }
        }
      }

      // Affilate Links
      .link:not(.wp-block-button__link) {
        @include link-hover-effect();
      }

      .btn {
        min-width: rfs-value(200px);
        text-align: center;
      }

    }
  }

  .post-footer-content {
    border-top: 1px solid $color-border-gray;
    margin-top: rfs-value(50px);
    padding-top: rfs-value(35px);
  }

  // Product Summary [TOP PICKS]
  // ===================================================================================================================
  .product-summary-wrapper {
    margin-top: rfs-value(35px);
    margin-bottom: rfs-value(50px);

    .top-picks {
      &:not(:last-child) {
        &:after {
          content: '';
          display: block;
          width: 100%;
          border-bottom: 1px solid $color-border-gray;
          margin-bottom: rfs-value(20px);
          padding-bottom: rfs-value(20px);
        }
      }

      &.best {
        .column-preview {
          border-color: $color-primary-dark;
          border-width: 1px;
          &:after {
            content: "";
            background-image: url("../../images/certificate.svg");
            background-size: rfs-value(30px 30px);
            position: absolute;
            bottom: rfs-value(-13px);
            left: 50%;
            margin-left: rfs-value(-15px);
            z-index: 2;
            width: rfs-value(30px);
            height: rfs-value(30px);
          }
        }
      }

      .column-preview {
        flex: 0 0 auto;
        min-height: rfs-value(115px);
        border: 1px solid $color-border-gray;
        width: 100%;
        @include media-breakpoint-up(sm) {
          max-width: rfs-value(150px);
          min-height: rfs-value(90px);
        }
        @include media-breakpoint-up(xl) {
          max-width: rfs-value(150px);
        }
      }

      .column-description {
        flex: 0 0 auto;
        width: 100%;
        @include media-breakpoint-up(sm) {
          max-width: calc(100% - 150px);
        }
        @include media-breakpoint-up(xl) {
          max-width: calc(100% - 400px);
        }
      }

      .column-link {
        flex: 0 0 auto;
        width: 100%;
        @include media-breakpoint-up(xl) {
          max-width: 250px;
        }
      }

      .top-picks-heading {
        .subtitle {
          @include custom-letter-spacing();
        }

        .title {
          line-height: 1.4;
          margin-bottom: rfs-value(2px);
        }

        .more {
          @include font-size(15px);
          color: $color-black;
          transition: color 300ms ease;
          &:hover {
            text-decoration: underline;
            text-decoration-color: $color-primary-dark;
            text-decoration-thickness: rfs-value(2px);
          }

          i {
            margin-right: rfs-value(2px);
            background-image: escape-svg($bs-chevron-double-down-icon);
            width: rfs-value(14px);
            height: rfs-value(14px);
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            margin-top: rfs-value(-2px);
          }
        }
      }
    }
  }


  // MAIN CONTENT AREA
  // ===================================================================================================================
  .entry-content-main {

    .product-heading {
      .subtitle {
        line-height: 1.2;
      }

      .title {
        .number {
          font-style: normal;
          background-color: $color-primary;
          padding-left: rfs-value(10px);
          padding-right: rfs-value(7px);
          margin-right: rfs-value(10px);
        }

        a {
          transition: color 300ms ease;
          &:hover {
            text-decoration: underline;
            text-decoration-color: $color-primary-dark;
            text-decoration-thickness: rfs-value(3px);
          }
        }
      }
    }

    .product-card {
      &:not(:last-child) {
        padding-bottom: rfs-value(50px);
        margin-bottom: rfs-value(50px);
        border-bottom: 1px solid $border-color;
      }

      .post-thumbnail {
        min-height: rfs-value(250px);
        border: 1px solid $color-border-gray;
        @include media-breakpoint-up(sm) {
          min-height: rfs-value(300px);
        }

        &.best {
          position: relative;
          border-width: 2px;
          border-color: $color-primary-dark;

          &:after {
            content: "";
            background-image: url("../../images/certificate.svg");
            background-size: rfs-value(40px 40px);
            position: absolute;
            top: rfs-value(13px);
            right: rfs-value(8px);
            z-index: 2;
            width: rfs-value(40px);
            height: rfs-value(40px);
          }
        }

        .figure-img {
          max-height: rfs-value(300px);
          @include media-breakpoint-up(sm) {
            max-height: rfs-value(350px);
          }
        }
      }

      .btn.affiliate-link {
        min-width: rfs-value(260px);
        @include font-size(20px);
      }

      .pros-and-cons {

        .column {
          @include media-breakpoint-up(sm) {
            flex-basis: 0;
            flex-grow: 1;
          }

          &.pros {
            @include media-breakpoint-up(sm) {
              border-right: 1px solid $color-border-gray;
            }
          }

          .heading {
            background-color: $color-light-gray;
            padding: rfs-value(12px 25px);
            border-bottom: 1px solid $color-border-gray;
          }

          .list {
            @include font-size(16px);
            font-weight: 400;
            padding: rfs-value(25px 22px);

            &.pros-list {
              .icon {
                background-image: escape-svg($bs-check-icon);
              }
            }

            &.cons-list {
              .icon {
                background-image: escape-svg($bs-close-icon);
              }
            }

            li {
              line-height: 1.3;
              margin: rfs-value(0 0 15px 0);
              padding-left: rfs-value(27px);

              .icon {
                background-position: center;
                background-repeat: no-repeat;
                background-size: rfs-value(25px);
                width: rfs-value(18px);
                height: rfs-value(20px);
                padding: 0;
                display: inline-block;
                margin-right: $breadcrumb-item-padding-x;
                vertical-align: bottom;
                margin-left: rfs-value(-27px);
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

  }


  // Accordion
  // ===================================================================================================================
  #accordionFooter {
    .accordion-item {
      border: 1px solid $color-border-gray;

      &:not(:last-child) {
        margin-bottom: rfs-value(20px);
      }

      .accordion-button {
        @include font-size(22px);
      }
    }
  }


  // Related
  // ===================================================================================================================
  #related-posts {
    margin-top: rfs-value(96px);
    padding-top: rfs-value(64px);
    border-top: 1px solid $border-color;
  }

  // Sidebar
  // ===================================================================================================================
  #right-sidebar {
    .widget {
      &.text-2 {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  // Comments
  // ===================================================================================================================
  #comments-form {
    margin-top: rfs-value(110px);

    #comments {
      max-width: rfs-value(1100px);
      margin: 0 auto;
      color: $color-gray;
      font-family: $font-secondary;

      #wpdcom {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        font-family: $font-secondary;

        .wpd-auth {
          color: $color-gray;

          .wpd-login a {
            color: $color-secondary;
          }
        }

        .wpd-prim-button {
          font-family: $font-secondary;
        }

        .wpdiscuz-subscribe-bar {
          background-color: $color-light-gray;
          border: 1px solid $color-border-gray;
          padding: rfs-value(10px 15px);

          .wpdiscuz_subscribe_status {
            .wpd-unsubscribe {
              color: $color-secondary;
            }
          }

          .wpdiscuz-subscribe-form-option {
            select {
              border: 1px solid darken($color-border-gray, 10%) !important;
              height: rfs-value(32px !important);
            }
          }

          .wpdiscuz-subscribe-form-email {
            input {
              border: 1px solid darken($color-border-gray, 10%);
              padding: rfs-value(5px 10px !important);
              height: rfs-value(32px);
              box-shadow: none;
              outline: none;
            }
          }

          .wpdiscuz-subscribe-form-button {
            input {
              min-height: rfs-value(32px !important);
              height: rfs-value(32px !important);
            }
          }
        }

        .wpd-form-head {
          border-bottom-color: $color-border-gray;

          .wpd-sbs-toggle {
            color: $color-gray;
          }
        }

        .wpd-form {
          .wpdiscuz-textarea-wrap {
            textarea {
              box-shadow: none;
              border-color: $color-border-gray;
              @include font-size(15px);
              line-height: 1.3;
            }
          }
        }
      }
    }
  }

}