body.page-template-template-contact{
  #wrapper{
    background-image: url(../../images/page-bg-hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 5rem right 0;
    @include media-breakpoint-down(lg){
      background-size: 120% auto;
      background-position: top 12.5rem right 0;
    }
    @include media-breakpoint-down(sm){
      background-position: top 18.75rem right 0;
    }
  }
}
#template-contact{

  position: relative;
  z-index: 1;
  background-position: bottom right;
  article.hentry{
    text-align: center;
  }
  .entry-content{
    p br{
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
  }
}