/*--------------------------------------------------------------
  1.0 Misc
--------------------------------------------------------------*/
html, body {
  min-height: 100vh;
  #page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

body{
  //::selection {
  //  color: $color-white;
  //  background: $color-primary; /* WebKit/Blink Browsers */
  //}
  //::-moz-selection {
  //  color: $color-white;
  //  background: $color-primary; /* Gecko Browsers */
  //}
}
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
a:focus { outline:none; }
p:empty { display: none; }
textarea { resize: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-input-placeholder { color: $color-black; opacity: 1; }
:-moz-placeholder { color: $color-black; opacity: 1; }
::-moz-placeholder { color: $color-black; opacity: 1; }
:-ms-input-placeholder { color:$color-black; opacity: 1; }

//input:focus::-webkit-input-placeholder { color: transparent; }
//input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
//input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
//input:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

embed, iframe, object { max-width: 100%; }

/*--------------------------------------------------------------
  2.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
  4.0 General
--------------------------------------------------------------*/
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-margin{
  margin-top: 60px;
  margin-bottom: 60px;
  @include media-breakpoint-up(lg) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.section-title{
  margin-bottom: 40px;
  h2{
    @include font-size($h1-font-size)
  }
  h2,h3{
    &:after {
      content: '';
      margin-top: 20px;
      width: 73px;
      height: 6px;
      background: $color-accent;
      display: block;
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.font-primary{ font-family: $font-primary; }
.font-secondary{ font-family: $font-secondary; }


.btn{
  &.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #5333ed;
    --bs-btn-hover-color: #5333ed;
    --bs-btn-hover-bg: transparent;
    --bs-btn-active-color: #5333ed;
    --bs-btn-active-bg: transparent;
    @include custom-letter-spacing();
  }
  &.btn-outline-primary{
    //--bs-btn-border-color: #18865F;
    //--bs-btn-hover-color: #FFFFFF;
    //--bs-btn-hover-bg: #18865F;
    //--bs-btn-hover-border-color: #18865F;
    //--bs-btn-focus-shadow-rgb: 24, 134, 95;
    //--bs-btn-active-color: #FFFFFF;
    //--bs-btn-active-bg: #18865F;
    //--bs-btn-active-border-color: #18865F;
    //--bs-btn-active-shadow: none;
    //--bs-btn-disabled-color: #18865F;
    //--bs-btn-disabled-bg: transparent;
    //--bs-btn-disabled-border-color: #18865F;
  }
  &.btn-accent{
    --bs-btn-color: #292929;
  }
  &.btn-outline-secondary{
    --bs-btn-color: #3058A3;
    --bs-btn-bg: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3058A3;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3058A3;
  }
}

header.section-title{
  margin-bottom: 40px;
  margin-top: -5px; // offset to have equal top/bottom paddings
  h2{
    margin-bottom: 0;
  }
  &.category-heading{
    p{
      font-family: $font-secondary;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
  &.smaller{
    h2{
      @include font-size($h3-font-size);
      outline: none;
    }
  }
}

.entry-content{
  p:last-child{
    margin-bottom: 0;
  }
}

.ls-lg{
  @include custom-letter-spacing();
}