/*--------------------------------------------------------------
  1.0 Misc
--------------------------------------------------------------*/
html{
  scroll-padding-top: rfs-value(90px);
  @include media-breakpoint-up(lg){
    scroll-padding-top: rfs-value(105px);
  }
}
html, body {
  min-height: 100vh;
  #page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
a:focus { outline:none; }
p:empty { display: none; }
textarea { resize: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-input-placeholder { color: $color-black; opacity: 1; }
:-moz-placeholder { color: $color-black; opacity: 1; }
::-moz-placeholder { color: $color-black; opacity: 1; }
:-ms-input-placeholder { color:$color-black; opacity: 1; }

//input:focus::-webkit-input-placeholder { color: transparent; }
//input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
//input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
//input:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

embed, iframe, object { max-width: 100%; }

/*--------------------------------------------------------------
  2.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
  4.0 General
--------------------------------------------------------------*/
.section-padding {
  padding-top: rfs-value(60px);
  padding-bottom: rfs-value(60px);
  @include media-breakpoint-up(lg) {
    padding-top: rfs-value(80px);
    padding-bottom: rfs-value(80px);
  }
}

.section-margin{
  margin-top: rfs-value(60px);
  margin-bottom: rfs-value(60px);
  @include media-breakpoint-up(lg) {
    margin-top: rfs-value(80px);
    margin-bottom: rfs-value(80px);
  }
}

.main-area-padding{
  padding: rfs-value(40px 0);
  @include media-breakpoint-up(md){
    padding: rfs-value(55px 0);
  }
}

.font-primary{ font-family: $font-primary; }
.font-secondary{ font-family: $font-secondary; }


.btn{
  @include custom-letter-spacing();
  font-weight: 600;
  transition: all 300ms ease;
  box-shadow: 0 0 0.188rem 0 transparent;
  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 0.188rem 0.438rem 0 rgba(0, 0, 0, 0.35);
  }

  &.btn-primary{
    --bs-btn-color: #292929;
    --bs-btn-bg: #fdd11f;
    --bs-btn-border-color: #fdd11f;
    --bs-btn-hover-color: #292929;
    --bs-btn-hover-bg: #fdd11f;
    --bs-btn-hover-border-color: #fdd11f;
    --bs-btn-active-color: #292929;
    --bs-btn-active-bg: #fdd11f;
    --bs-btn-active-border-color: #fdd11f;

  }
  &.btn-accent{

  }
  &.btn-secondary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #292929;
    --bs-btn-border-color: #292929;
    --bs-btn-hover-color: #292929;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #292929;
    --bs-btn-active-color: #292929;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #292929;
    font-weight: 500;
  }
}

header.section-title{
  margin-top: $headings-top-negative-margin; // offset to have equal top/bottom paddings
  margin-bottom: rfs-value(35px);
  position: relative;
  h2{
    margin-bottom: 0;
    @include bottom-highlight($height: 25%);
    @include media-breakpoint-up(md){
      @include bottom-highlight($height: 27%);
    }
  }
}

header#page-header{
  margin-top: $headings-top-negative-margin; // offset to have equal top/bottom paddings
  margin-bottom: rfs-value(28px);
  @include media-breakpoint-up(md){
    margin-bottom: rfs-value(40px);
  }
  h1{
    margin-bottom: 0;
    @include bottom-highlight($bottom: 2px);
    @include media-breakpoint-up(md){
      @include bottom-highlight($bottom: 3px);
    }
  }
}

.entry-content{
  p:last-child, ul:last-child{
    margin-bottom: 0;
  }
  &.mobile-content-sm-size{
    @include media-breakpoint-down(md){
      @include font-size(17px);
      line-height: 1.65;
    }
  }
  p a:not(.btn), li a:not(.btn){
    @include link-hover-effect();
  }
}

.ls-lg{
  @include custom-letter-spacing();
}

.image-container{
  position: relative;
  .loading-image{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
    &.loaded{
      visibility: visible;
      opacity: 1;
    }
  }
  .placeholder {
    background-image: url('../../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}