// Fonts
$font-primary           : 'Lora', serif;
$font-secondary         : 'Inter', sans-serif;
$custom-letter-spacing  : 0.03rem;

// Colors
$color-white      : #FFFFFF;  $white      : $color-white;
$color-black      : #292929;  $black      : $color-black;

$color-primary       : #fdd11f;  $primary    : $color-primary;
$color-primary-light : #ffd941;
$color-primary-dark  : #f0c000;

$color-secondary        : #3ba7fa; $secondary  : $color-secondary;
$color-secondary-light  : #a9daff;

//$color-accent        : #5333ed;
$color-accent        : $color-secondary;
$color-gray          : #595959;

$color-light-gray    : #f7f8f9;
$color-border-gray   : #eaecee;

$color-danger        : #EB5757;
//$color-success       : #36c384;
$color-success       : #10AA65;

$color-cultured      : #F5F7F7;

$theme-colors: (
    "primary"     : $color-primary,
    "secondary"   : $color-secondary,
    "danger"      : $color-danger,
    "success"     : $color-success,
);

$custom-colors: (
    "accent"          : $color-accent,
    "gray"            : $color-gray,
    "light-gray"      : $color-light-gray,
    "primary-light"   : $color-primary-light,
    "primary-dark"    : $color-primary-dark,
    "secondary-light" : $color-secondary-light,
);

// Merge 'Custom Colors' into 'Theme Colors' maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$min-contrast-ratio : 1; // make sure to use white text on button OR use [$black : unset;]

/**
 * Custom Spacer
 * https://getbootstrap.com/docs/5.1/utilities/spacing/#maps
 */
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 2.0,
        6: $spacer * 2.5,
        7: $spacer * 3.0,
        8: $spacer * 3.5,
        9: $spacer * 4.0,
        10: $spacer * 5.5
);

$grid-gutter-width: 2rem; // 16px * 2 = 32px
$gutters: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 2.0,
        6: $spacer * 2.5,
        7: $spacer * 3.0,
        8: $spacer * 3.5,
        9: $spacer * 4.0,
        10: $spacer * 4.5,
);

/*
 * Global Bootstrap Overrides
 ***********************************************************************************************************************/
/* General */
$enable-smooth-scroll         : true;
$headings-top-negative-margin : -0.313rem;

$body-bg                  : $color-white;
$body-color               : $color-black;
$border-width             : 0.0625rem; // 1px
$border-style             : solid;
$font-family-base         : $font-primary;
$font-size-base           : 1.1875rem;
$brand-primary            : $color-primary;
$list-inline-padding      : 0.875rem;

$font-weight-lighter      : 300;
$font-weight-base         : 400;
$font-weight-bolder       : 600;
$font-weight-bold         : 700;

$line-height-sm   : 1.25;
$line-height-base : 1.725;
$line-height-lg   : 2;

$breadcrumb-active-color  : $color-gray;

/* SVG Icons */
$bs-chevron-right-icon         : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-gray}' class='bi bi-chevron-right' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
$bs-close-icon                 : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-danger}' class='bi bi-x' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
$bs-check-icon                 : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-success}' class='bi bi-check' viewBox='0 0 16 16'><path d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>");
$bs-envelope-heart-icon        : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#666464' class='bi bi-envelope-heart' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l3.235 1.94a2.76 2.76 0 0 0-.233 1.027L1 5.384v5.721l3.453-2.124c.146.277.329.556.55.835l-3.97 2.443A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741l-3.968-2.442c.22-.28.403-.56.55-.836L15 11.105V5.383l-3.002 1.801a2.76 2.76 0 0 0-.233-1.026L15 4.217V4a1 1 0 0 0-1-1H2Zm6 2.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z'/></svg>");
$bs-envelope-heart-icon-active : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-primary}' class='bi bi-envelope-heart' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l3.235 1.94a2.76 2.76 0 0 0-.233 1.027L1 5.384v5.721l3.453-2.124c.146.277.329.556.55.835l-3.97 2.443A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741l-3.968-2.442c.22-.28.403-.56.55-.836L15 11.105V5.383l-3.002 1.801a2.76 2.76 0 0 0-.233-1.026L15 4.217V4a1 1 0 0 0-1-1H2Zm6 2.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z'/></svg>");
$bs-calendar-icon              : url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-black}' class='bi bi-calendar3' viewBox='0 0 16 16'><path d='M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z'/><path d='M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/></svg>");
$bs-timer-icon                 : url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-black}' class='bi bi-stopwatch' viewBox='0 0 16 16'><path d='M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z'/><path d='M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z'/></svg>");
$bs-arrow-left-circle-icon     : url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-black}' class='bi bi-arrow-left-circle' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/></svg>");
$bs-arrow-left-circle-icon-h   : url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-primary-dark}' class='bi bi-arrow-left-circle' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/></svg>");
$bs-check-circle-icon          : url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$color-black}' class='bi bi-check-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z'/></svg>");
$bs-chevron-double-down-icon   : url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#3ba7fa' class='bi bi-chevron-double-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/><path fill-rule='evenodd' d='M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

/* Paragraph */
$paragraph-margin-bottom  : 1.25rem;
$blockquote-font-size     : $font-size-base;
$blockquote-footer-color  : $color-black;

$hr-margin-y              : 4rem; // 64px
$hr-border-color          : $color-border-gray;
$hr-border-width          : 2px;
$hr-color                 : inherit;
$hr-opacity               : 1;

$box-shadow               : 0.125rem 0.1875rem 1rem rgba(0, 0, 0, 0.1);
$box-shadow-sm            : 0rem 0rem 0.9375rem rgba(0, 0, 0, 0.15);
$box-shadow-lg            : 0rem 0rem 3.125rem rgba(0, 0, 0, 0.08);
$box-shadow-xl            : 0.25rem 0.25rem 3.125rem 0rem rgba(0, 0, 0, 0.08), 0.0625rem 0.0625rem 0.9375rem 0rem rgba(0, 0, 0, 0.05);;

/* Borders */
$border-color             : $color-border-gray;

$border-radius-sm         : 0.3125rem; // rounded-1 5px
$border-radius            : 0.9375rem; // rounded-2 15px
$border-radius-lg         : 1.25rem; // rounded-3 20px
$border-radius-xl         : 1.5625rem; // rounded-4 25px
$border-radius-xxl        : 3.125rem; // rounded-5 50px

/* Forms */
$input-box-shadow       : none;
$input-focus-box-shadow : none;
$input-border-width     : 0.0625rem;
$input-border-color     : $color-black;
$input-border-radius    : $border-radius-xl;

$input-padding-y        : 0.625rem;
$input-padding-x        : 1.5625rem;
$input-font-family      : $font-secondary;
$input-font-size        : 1rem;
$input-bg               : $color-white;
$input-border-color     : darken($color-border-gray, 15%);

$input-focus-color        : $color-black;
$input-focus-bg           : $color-white;
$input-focus-border-color : $color-primary;

$form-text-font-size  : 0.85rem;
$form-text-margin-top : 8px;

/* Buttons General */
$btn-font-family      : $font-secondary;
$btn-font-size        : 1.125rem;   // 17px
$btn-font-size-sm     : 1rem;   // 15px
$btn-font-weight      : 600;
$btn-line-height      : 1.1;
$btn-white-space      : 'nowrap';
$btn-padding-y        : 0.938rem;
$btn-padding-y-sm     : 0.75rem;
$btn-padding-x        : 2.188rem;
$btn-padding-x-sm     : 1.625rem;
$btn-border-width     : 0.125rem;
$btn-border-radius    : $border-radius-xxl;
$btn-border-radius-sm : $border-radius-xxl;

$btn-box-shadow         : $box-shadow-sm;
$btn-focus-width        : 0;
$btn-disabled-opacity   : .65;
$btn-active-box-shadow  : none;
$btn-active-shadow      : none;
$btn-focus-box-shadow   : none;

$btn-link-color          : $color-black;
$btn-link-hover-color    : $color-black;
$btn-link-disabled-color : lighten($color-black, 65%);

/* List */
$list-group-bg    : transparent;
$list-group-color : inherit;
$list-group-item-padding-x : 0;
$list-group-item-padding-y : 0.4375rem;
$list-group-border-width   : 0;

/* Links */
$link-color             : $color-black;
$link-hover-color       : $color-black;
$link-decoration        : none;
$link-hover-decoration  : none;

/* H1-H6 */
$headings-color         : $color-black;
$headings-font-family   : $font-secondary;
$headings-font-weight   : 700;
$headings-line-height   : 1.25;
$headings-margin-bottom : 1.25rem;

/* H1-H6 Responsive */
$h1-font-size : 44px;
$h2-font-size : 32px;
$h3-font-size : 26px;

$h4-font-size : 18px;
$h5-font-size : 14px;
$h6-font-size : 12px;

/**
 * Navbar
 ***********************************************************************************************************************/
$nav-link-font-size                 : 1.125rem;
$nav-link-font-weight               : 800;
$nav-link-color                     : $color-black;
$nav-link-hover-color               : $color-primary;

$navbar-brand-font-size             : 1rem;
$navbar-toggler-font-size           : 1rem;
$navbar-padding-y                   : 0;
$navbar-padding-x                   : 0;

$nav-link-padding-y                 : 1.25rem;
//$nav-link-padding-x                 : 1.25rem;
//$navbar-nav-link-padding-y          : 1rem;
$navbar-nav-link-padding-x          : 0.063rem;
$navbar-light-color                 : $color-black;
$navbar-light-active-color          : $color-black;
$navbar-light-hover-color           : $color-black;
$navbar-light-toggler-border-color  : $color-black;

/* Navbar Toggler */
$navbar-toggler-padding-y     : 6px;
$navbar-toggler-padding-x     : 12px;
$navbar-toggler-font-size     : 20px;
$navbar-toggler-border-color  : $color-primary;
$navbar-toggler-border-radius : $border-radius-sm;
$navbar-toggler-focus-width   : 0;
$navbar-light-toggler-icon-bg       : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$color-black}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-icon-bg-hover : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$color-white}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");

/**
 * Accordion
 ***********************************************************************************************************************/
$accordion-bg               : white;
$accordion-border-width     : 0.0625rem;
$accordion-border-radius    : $border-radius;
$accordion-button-padding-x : 1.25rem;
$accordion-button-padding-y : 1rem;
$accordion-body-padding-y   : 1.25rem;
$accordion-body-padding-x   : 1.25rem;

// Normal
$accordion-button-color : $color-gray;
$accordion-button-bg    : lighten(#f8f9fa, 1%);
$accordion-border-color : $color-secondary-light;

// Active
$accordion-button-active-color        : $color-black;
$accordion-button-active-bg           : $color-white;
$accordion-button-focus-border-color  : transparent;
$accordion-button-focus-box-shadow    : none;

//
//$accordion-icon-color           : $color-primary;
//$accordion-color                : $color-primary;
//$accordion-button-color         : $color-primary;
//$accordion-icon-width           : 12px;
$accordion-button-icon          : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$color-gray}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon   : url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$color-black}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

/* Card */
$card-title-spacer-y: 0.625rem;
$card-border-radius : $border-radius-sm;
$card-border-width  : 0;

$card-inner-border-radius : $border-radius-sm;
$card-spacer-y      : 1.875rem;
$card-spacer-x      : 1.875rem;

$card-cap-color     : $color-black;
$card-cap-bg        : $color-white;
$card-bg            : $color-white;
$card-cap-padding-y : 1.25rem;
$card-cap-padding-x : 1.25rem;

/**
 * OFF-Canvas
 **/
$offcanvas-bg-color           : white;
$offcanvas-horizontal-width   : 300px;
$offcanvas-border-width       : 0;
$offcanvas-padding-x          : 1.125rem;
$offcanvas-padding-y          : 0.75rem;
$offcanvas-title-line-height  : 1.4;
$btn-close-focus-shadow       : none;

/* Modal */
$close-color                  : white;
$close-text-shadow            : none;
$close-font-size              : 35px;
$modal-header-border-color    : transparent;
$modal-content-bg             : transparent;
$modal-content-border-width   : 0;
$modal-content-border-color   : transparent;
$modal-content-border-radius  : 0;
$modal-content-box-shadow-xs  : none;

$modal-backdrop-bg            : $color-black;
$modal-backdrop-opacity       : 0.9;

$modal-md                     : 600px;
$modal-lg                     : 800px;

$modal-dialog-margin-y-sm-up  : 70px;

/* Table */
$table-cell-padding-y       : 0.625rem;
$table-cell-padding-x       : 1rem;
$table-cell-vertical-align  : top;
$table-th-font-weight       : 600;

/* Container */
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


/*
 * Global Slick Overrides
 ***********************************************************************************************************************/
$slick-font-path          : "../../fonts/";
$slick-loader-path        : "../../images/";
$slick-opacity-default    : 1;
$slick-opacity-not-active : 1;
$slick-dot-size           : 0.8rem;
$slick-dot-color          : $color-black;
$slick-dot-color-active   : $color-black;


/*
 * Mixins
 ***********************************************************************************************************************/
@mixin custom-placeholder{
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin font-variant($ff: $font-family-base, $fw: $font-weight-base, $lh: $line-height-base){
  font-family: $ff;
  font-weight: $fw;
  line-height: $lh;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin responsive-ratio-background($x,$y, $pseudo: false) {
  $padding: calc((#{$y} / #{$x}) * 100%);
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

@mixin full-cover(){
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

@mixin custom-responsive-font-size($fs-map, $fs-breakpoints: $grid-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin custom-letter-spacing($custom-letter-spacing : 0.03rem){
  letter-spacing: 0.02rem;
  @include media-breakpoint-up(lg){
    letter-spacing: $custom-letter-spacing;
  }
}

@mixin custom-list-styling($color: $color-secondary){
  list-style: none;
  padding-left: rfs-value(18px);
  margin: $paragraph-margin-bottom 0;
  li{
    margin-bottom: $paragraph-margin-bottom;
    &:last-child{
      padding-bottom: 0;
    }
    &:before {
      content: "•";
      color: $color-secondary;
      font-weight: 700;
      display: inline-block;
      width: rfs-value(18px);
      position: relative;
      top: rfs-value(-2px);
      vertical-align: middle;
      margin-left: rfs-value(-18px);
      line-height: 1;
    }
    ul{
      @include font-size(17px);
      line-height: 1.5;
      font-family: $font-secondary;
      li{
        &:before {
          color: $color-gray;
        }
        margin-bottom: rfs-value(10px);
        &:last-child{
          padding-bottom: 0;
        }
      }
    }
  }
}


@mixin hover-underline($color: $color-black, $line : $color-primary, $position : 'after'){
  display: inline-block;
  position: relative;
  padding-bottom: rfs-value(2px);
  &:hover{
    color: $color;
    &:before{ width: 100%; }
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;

    margin: auto;
    width: 0;
    height: rfs-value(1px);
    background: $line;
    -moz-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
    border-radius: 0;

    @if $position == 'before' {
      top: 0;
    } @else {
      bottom: 0;
    }

  }
}

@mixin make-button-primary( $type : 'outline' ){
  color: $color-black;
  font-size: $btn-font-size;
  background-color: $color-primary;
  padding: $btn-padding-y $btn-padding-x;
  font-family: $btn-font-family;
  border-radius: $btn-border-radius;
  line-height: $btn-line-height !important;
  font-weight: $btn-font-weight;
  letter-spacing: $custom-letter-spacing;
  border: $btn-border-width solid $color-primary;
  @include transition();
  display: inline-block;

  @if $type == 'outline' {
    &:hover{
      color: $color-black;
      background-color: transparent;
      border-color: $color-black;
    }
  }
  @if $type == 'lighten' {
    &:hover{
      color: $color-black;
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
  @if $type == 'contrast' {
    &:hover{
      color: $color-white;
      background-color: $color-black;
      border-color: $color-black;
    }
  }
  @if $type == 'default' {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    box-shadow: 0 0 3px 0 transparent;
    &:hover{
      transform: translateY(-2px);
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    }
  }
}

@mixin bottom-highlight($height: 25%, $bottom: 1px){
  display: inline;
  position: relative;
  z-index: 1;
  line-height: 1.1;
  &:after {
    background: $color-primary;
    bottom: rfs-value($bottom);
    content: '';
    height: $height;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

@mixin heading-highlight($width : 9px, $left: 6px){
  position: relative;
  padding-left: rfs-value($left);
  &:before {
    content: '';
    background: $color-primary;
    width: rfs-value($width);
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    @include media-breakpoint-up(lg) {
      width: rfs-value($width + 2);
    }
  }
}

/**
 * used on Header/Footer/Popups
 */
@mixin highlight-on-hover($bg: $color-primary, $height: 7px, $bottom: 1px, $offset: 0px ){
  position: relative;
  z-index: 1;
  line-height: 1.4;
  &:hover{
    &:after{
      width: calc(100% - #{$offset});
    }
  }
  &:after{
    content: '';
    position: absolute;
    left: $offset;
    right: auto;

    margin: auto;
    width: 0;
    height: $height;
    background: $bg;
    -moz-transition: all .20s linear;
    -webkit-transition: all .20s linear;
    transition: all .20s linear;
    border-radius: 0;
    bottom: $bottom;
    z-index: -1;
  }
}

@mixin link-hover-effect(){
  font-weight: 600;
  position: relative;
  text-decoration: none;
  z-index: 1;
  border-bottom: 2px solid $color-primary;
  box-shadow: inset 0 -1px 0 0 $color-primary;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:hover{
    box-shadow: inset 0 -30px 0 0 $color-primary;
  }
}

@mixin text-decoration-underline($color: $color-primary-dark, $size: 2px){
  transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  text-decoration-color: $color;
  text-decoration-thickness: rfs-value($size);
  &:hover{
    text-decoration: underline;
    text-decoration-color: $color;
    text-decoration-thickness: rfs-value($size);
  }
}